body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6481 {
  position:fixed;
  left:0px;
  top:50%;
  margin-top:-450.5px;
  width:1401px;
  height:901px;
  overflow:hidden;
}
#u6481_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:901px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(153, 153, 153, 1);
  background-image:url('../../images/登录界面_3/u6481_state0.jpg');
  background-position:right top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u6481_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6482 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:300px;
  width:774px;
  height:301px;
  overflow:hidden;
}
#u6482_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:774px;
  height:301px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  background-image:none;
}
#u6482_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:89px;
}
#u6483 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:49px;
  width:526px;
  height:88px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:46px;
}
#u6483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:522px;
  word-wrap:break-word;
}
#u6484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:51px;
}
#u6484 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:172px;
  width:56px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u6484_img.mouseOver {
}
#u6484.mouseOver {
}
#u6484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u6485 {
  position:absolute;
  left:50px;
  top:232px;
  visibility:hidden;
}
#u6485_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
  background-image:none;
}
#u6485_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u6486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFA847;
  text-align:left;
}
#u6486_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:270px;
  word-wrap:break-word;
}
#u6485_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u6485_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u6487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFA847;
  text-align:left;
}
#u6487_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:270px;
  word-wrap:break-word;
}
#u6485_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u6485_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u6488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFA847;
  text-align:left;
}
#u6488_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:270px;
  word-wrap:break-word;
}
#u6489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u6490 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:172px;
  width:300px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u6490_img.selected {
  left:-1px;
  top:-1px;
  width:303px;
  height:53px;
}
#u6490.selected {
}
#u6490_img.disabled {
  left:-10px;
  top:-10px;
  width:321px;
  height:71px;
}
#u6490.disabled {
}
#u6490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6491 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:172px;
  width:220px;
  height:50px;
}
#u6491_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:51px;
}
#u6492 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:172px;
  width:40px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6492_img.mouseOver {
}
#u6492.mouseOver {
  opacity:0.8;
}
#u6492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u6493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:51px;
}
#u6493 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:172px;
  width:40px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#CCCCCC;
}
#u6493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u6494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u6495 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:172px;
  width:300px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u6495_img.selected {
  left:-1px;
  top:-1px;
  width:303px;
  height:53px;
}
#u6495.selected {
}
#u6495_img.disabled {
  left:-10px;
  top:-10px;
  width:321px;
  height:71px;
}
#u6495.disabled {
}
#u6495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6496 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:172px;
  width:220px;
  height:50px;
}
#u6496_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:51px;
}
#u6497 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:172px;
  width:40px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6497_img.mouseOver {
}
#u6497.mouseOver {
  opacity:0.8;
}
#u6497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u6498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:51px;
}
#u6498 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:172px;
  width:40px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#CCCCCC;
}
#u6498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u6499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u6499 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:33px;
  width:120px;
  height:120px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u6499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u6500 {
  position:absolute;
  left:100px;
  top:750px;
}
#u6500_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
  background-image:none;
}
#u6500_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u6502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u6502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
