body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:96px;
}
#u66671 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:1260px;
  height:95px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u66671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u66673 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1441px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u66673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u66676 {
  position:fixed;
  left:0px;
  top:0px;
}
#u66676_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u66676_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66677_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u66677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u66677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u66678 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u66678_img.mouseOver {
}
#u66678.mouseOver {
}
#u66678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u66679 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u66679_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u66679_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u66680 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u66680_img.mouseOver {
}
#u66680.mouseOver {
}
#u66680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u66681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u66681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u66681_img.mouseOver {
}
#u66681.mouseOver {
}
#u66681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u66682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u66682 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u66682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u66683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u66683 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u66683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u66684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u66684 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u66684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u66685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u66685 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u66685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u66686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1197px;
}
#u66686 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:225px;
  width:1260px;
  height:1196px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u66686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66687 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:301px;
  width:1220px;
  height:95px;
}
#u66688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u66688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:45px;
  text-align:left;
}
#u66688_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u66690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u66690 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:0px;
  width:122px;
  height:45px;
  text-align:left;
}
#u66690_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u66692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u66692 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:0px;
  width:122px;
  height:45px;
  text-align:left;
}
#u66692_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u66694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u66694 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:122px;
  height:45px;
  text-align:left;
}
#u66694_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u66696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u66696 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:122px;
  height:45px;
  text-align:left;
}
#u66696_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u66698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u66698 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:0px;
  width:122px;
  height:45px;
  text-align:left;
}
#u66698_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u66700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u66700 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:0px;
  width:122px;
  height:45px;
  text-align:left;
}
#u66700_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u66702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u66702 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:0px;
  width:122px;
  height:45px;
  text-align:left;
}
#u66702_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u66704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u66704 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:0px;
  width:122px;
  height:45px;
  text-align:left;
}
#u66704_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u66706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u66706 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:0px;
  width:122px;
  height:45px;
  text-align:left;
}
#u66706_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u66708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u66708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u66708_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u66709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u66709 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u66709_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u66710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u66710 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u66710_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u66711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u66711 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u66711_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u66712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u66712 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u66712_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u66713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u66713 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u66713_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u66714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u66714 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u66714_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u66715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u66715 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u66715_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u66716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u66716 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u66716_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u66717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u66717 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u66717_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u66719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1220px;
  height:50px;
}
.u66720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u66720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u66720_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u66721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u66721 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u66721_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u66722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u66722 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u66722_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u66723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u66723 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u66723_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u66724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u66724 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u66724_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u66725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u66725 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u66725_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u66726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u66726 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u66726_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u66727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u66727 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u66727_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u66728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u66728 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u66728_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u66729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u66729 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u66729_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u66718-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:49px;
}
#u66718-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1220px;
  height:49px;
}
#u66718-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1220px;
  height:49px;
}
#u66718-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:1220px;
  height:49px;
}
#u66718-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:1220px;
  height:49px;
}
#u66718-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:1220px;
  height:49px;
}
#u66718-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:1220px;
  height:49px;
}
#u66718-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:1220px;
  height:49px;
}
#u66718-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:1220px;
  height:49px;
}
#u66718-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:441px;
  width:1220px;
  height:49px;
}
#u66718-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:1220px;
  height:49px;
}
#u66718-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:1220px;
  height:49px;
}
#u66718-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:588px;
  width:1220px;
  height:49px;
}
#u66718-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:1220px;
  height:49px;
}
#u66718-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:1220px;
  height:49px;
}
#u66718-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:735px;
  width:1220px;
  height:49px;
}
#u66718-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:1220px;
  height:49px;
}
#u66718-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:833px;
  width:1220px;
  height:49px;
}
#u66718-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:882px;
  width:1220px;
  height:49px;
}
#u66718 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:396px;
  width:1220px;
  height:931px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u66730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u66730 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:246px;
  width:80px;
  height:35px;
  color:#999999;
}
#u66730_img.mouseOver {
}
#u66730.mouseOver {
}
#u66730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u66730_ann {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:242px;
  width:1px;
  height:1px;
}
#u66731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u66731 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:246px;
  width:80px;
  height:35px;
  color:#999999;
}
#u66731_img.mouseOver {
}
#u66731.mouseOver {
}
#u66731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u66731_ann {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:242px;
  width:1px;
  height:1px;
}
#u66732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u66732 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:150px;
  width:80px;
  height:35px;
  color:#999999;
}
#u66732_img.mouseOver {
}
#u66732.mouseOver {
}
#u66732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u66733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u66733 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:150px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u66733_img.mouseOver {
}
#u66733.mouseOver {
  opacity:0.8;
}
#u66733_img.mouseDown {
}
#u66733.mouseDown {
  opacity:1;
}
#u66733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u66734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u66735 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u66735_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u66735_ann {
  border-width:0px;
  position:absolute;
  left:403px;
  top:146px;
  width:1px;
  height:1px;
}
#u66736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u66736 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u66736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u66737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u66738 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u66738_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u66738_ann {
  border-width:0px;
  position:absolute;
  left:213px;
  top:146px;
  width:1px;
  height:1px;
}
#u66739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u66739 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u66739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u66740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u66741 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u66741_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u66741_ann {
  border-width:0px;
  position:absolute;
  left:593px;
  top:146px;
  width:1px;
  height:1px;
}
#u66742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u66742 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u66742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u66744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u66745 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:1351px;
  width:35px;
  height:35px;
  color:#999999;
}
#u66745_img.mouseOver {
}
#u66745.mouseOver {
}
#u66745_img.selected {
}
#u66745.selected {
}
#u66745_img.disabled {
}
#u66745.disabled {
}
#u66745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u66746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u66746 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:1351px;
  width:35px;
  height:35px;
  color:#999999;
}
#u66746_img.mouseOver {
}
#u66746.mouseOver {
}
#u66746_img.selected {
}
#u66746.selected {
}
#u66746_img.disabled {
}
#u66746.disabled {
}
#u66746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u66747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u66747 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:1351px;
  width:35px;
  height:35px;
  color:#999999;
}
#u66747_img.mouseOver {
}
#u66747.mouseOver {
}
#u66747_img.selected {
}
#u66747.selected {
}
#u66747_img.disabled {
}
#u66747.disabled {
}
#u66747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u66748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u66748 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:1351px;
  width:35px;
  height:35px;
  color:#999999;
}
#u66748_img.mouseOver {
}
#u66748.mouseOver {
}
#u66748_img.selected {
}
#u66748.selected {
}
#u66748_img.disabled {
}
#u66748.disabled {
}
#u66748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u66749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u66749 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1351px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u66749_img.mouseOver {
}
#u66749.mouseOver {
}
#u66749_img.selected {
}
#u66749.selected {
}
#u66749_img.disabled {
}
#u66749.disabled {
}
#u66749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u66750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u66750 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:1351px;
  width:35px;
  height:35px;
  color:#999999;
}
#u66750_img.mouseOver {
}
#u66750.mouseOver {
}
#u66750_img.selected {
}
#u66750.selected {
}
#u66750_img.disabled {
}
#u66750.disabled {
}
#u66750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u66751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u66751 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:1351px;
  width:35px;
  height:35px;
  color:#999999;
}
#u66751_img.mouseOver {
}
#u66751.mouseOver {
}
#u66751_img.selected {
}
#u66751.selected {
}
#u66751_img.disabled {
}
#u66751.disabled {
}
#u66751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u66752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u66752 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:1351px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u66752_img.mouseOver {
}
#u66752.mouseOver {
}
#u66752_img.selected {
}
#u66752.selected {
}
#u66752_img.disabled {
}
#u66752.disabled {
}
#u66752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u66753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u66753 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:1351px;
  width:35px;
  height:35px;
  color:#999999;
}
#u66753_img.mouseOver {
}
#u66753.mouseOver {
}
#u66753_img.selected {
}
#u66753.selected {
}
#u66753_img.disabled {
}
#u66753.disabled {
}
#u66753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u66754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u66754 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:1351px;
  width:80px;
  height:35px;
}
#u66754_img.mouseOver {
}
#u66754.mouseOver {
}
#u66754_img.selected {
}
#u66754.selected {
}
#u66754_img.disabled {
}
#u66754.disabled {
}
#u66754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u66755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
}
#u66755 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u66755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u66756 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u66756_img.mouseOver {
}
#u66756.mouseOver {
}
#u66756_img.selected {
}
#u66756.selected {
}
#u66756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u66757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u66757 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u66757_img.mouseOver {
}
#u66757.mouseOver {
}
#u66757_img.selected {
}
#u66757.selected {
}
#u66757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u66758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u66758 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u66758_img.mouseOver {
}
#u66758.mouseOver {
}
#u66758_img.selected {
}
#u66758.selected {
}
#u66758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u66759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u66760 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u66760_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u66760_ann {
  border-width:0px;
  position:absolute;
  left:783px;
  top:146px;
  width:1px;
  height:1px;
}
#u66761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u66761 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u66761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u66762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u66762 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:246px;
  width:90px;
  height:35px;
}
#u66762_img.mouseOver {
}
#u66762.mouseOver {
}
#u66762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u66762_ann {
  border-width:0px;
  position:absolute;
  left:123px;
  top:242px;
  width:1px;
  height:1px;
}
#u66764 {
  position:fixed;
  right:20px;
  bottom:20px;
}
#u66764_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  background-image:none;
}
#u66764_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66765_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u66765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u66765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u66766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u66766_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u66767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u66767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:500px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u66767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:480px;
  word-wrap:break-word;
}
#u66768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u66770 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:358px;
  height:10px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u66770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:11px;
}
#u66771 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:107px;
  height:10px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u66771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u66772 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:116px;
  width:50px;
  height:20px;
  font-size:12px;
  text-align:center;
  line-height:16px;
}
#u66772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u66764_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  visibility:hidden;
  background-image:none;
}
#u66764_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66773_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u66773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u66773_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u66774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u66774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u66774_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u66775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u66775 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u66775_img.mouseOver {
}
#u66775.mouseOver {
}
#u66775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u66776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u66777 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:125px;
  width:140px;
  height:40px;
  color:#FFFFFF;
  line-height:20px;
}
#u66777_img.mouseOver {
}
#u66777.mouseOver {
  opacity:0.8;
}
#u66777_img.mouseDown {
}
#u66777.mouseDown {
  opacity:1;
}
#u66777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u66778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u66778 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:125px;
  width:140px;
  height:40px;
}
#u66778_img.mouseOver {
}
#u66778.mouseOver {
  opacity:0.8;
}
#u66778_img.mouseDown {
}
#u66778.mouseDown {
  opacity:1;
}
#u66778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
