body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u4821 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:992px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u4821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u4823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:694px;
}
#u4823 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:279px;
  width:1200px;
  height:693px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
  overflow:hidden;
}
#u4825_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u4825_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4826_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:396px;
  height:55px;
}
#u4826 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:391px;
  height:50px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u4826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:391px;
  word-wrap:break-word;
}
#u4827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:51px;
}
#u4827 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:0px;
  width:80px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:36px;
}
#u4827_img.mouseOver {
}
#u4827.mouseOver {
}
#u4827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u4828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1261px;
  height:101px;
  overflow:hidden;
}
#u4828_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u4828_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:1261px;
  height:2px;
  overflow:hidden;
}
#u4829_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(233, 233, 233, 1);
  background-image:none;
}
#u4829_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:51px;
}
#u4830 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:0px;
  width:80px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:36px;
}
#u4830_img.mouseOver {
}
#u4830.mouseOver {
}
#u4830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u4831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:66px;
}
#u4831 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:68px;
  width:200px;
  height:65px;
  font-size:24px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u4831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:200px;
  word-wrap:break-word;
}
#u4833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u4833 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:81px;
  width:116px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4833_img.mouseOver {
}
#u4833.mouseOver {
}
#u4833_img.selected {
}
#u4833.selected {
}
#u4833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u4834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u4834 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:81px;
  width:116px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4834_img.mouseOver {
}
#u4834.mouseOver {
}
#u4834_img.selected {
}
#u4834.selected {
}
#u4834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u4835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u4835 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:81px;
  width:116px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4835_img.mouseOver {
}
#u4835.mouseOver {
}
#u4835_img.selected {
}
#u4835.selected {
}
#u4835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u4836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u4836 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:81px;
  width:116px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4836_img.mouseOver {
}
#u4836.mouseOver {
}
#u4836_img.selected {
}
#u4836.selected {
}
#u4836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u4837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u4837 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:81px;
  width:116px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4837_img.mouseOver {
}
#u4837.mouseOver {
}
#u4837_img.selected {
}
#u4837.selected {
}
#u4837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u4839 {
  position:fixed;
  right:10px;
  bottom:10px;
}
#u4839_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:205px;
  height:166px;
  background-image:none;
}
#u4839_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u4840 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:110px;
  width:55px;
  height:55px;
  color:#999999;
  line-height:20px;
}
#u4840_img.mouseOver {
}
#u4840.mouseOver {
}
#u4840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u4841 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:55px;
  width:55px;
  height:55px;
  color:#999999;
  line-height:20px;
}
#u4841_img.mouseOver {
}
#u4841.mouseOver {
}
#u4841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u4842 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:0px;
  width:55px;
  height:55px;
  color:#999999;
  line-height:20px;
}
#u4842_img.mouseOver {
}
#u4842.mouseOver {
}
#u4842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4843 {
  position:absolute;
  left:0px;
  top:15px;
  visibility:hidden;
}
#u4843_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:146px;
  height:142px;
  background-image:none;
}
#u4843_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4844_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:145px;
  height:149px;
}
#u4844 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:140px;
  height:144px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u4844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:31px;
}
#u4846 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:5px;
  width:131px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u4846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:127px;
  word-wrap:break-word;
}
#u4847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4847 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:34px;
  width:100px;
  height:100px;
  font-size:12px;
}
#u4847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:0px;
  width:10px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:601px;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:319px;
  width:1160px;
  height:601px;
}
#u4849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:91px;
}
#u4851 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:169px;
  width:1200px;
  height:90px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u4851_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:20px;
  width:1120px;
  word-wrap:break-word;
}
#u4852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:69px;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:169px;
  width:60px;
  height:68px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF992F;
  text-align:center;
}
#u4852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
