body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50581 {
  position:fixed;
  left:0px;
  top:0px;
}
#u50581_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u50581_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50582_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u50582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u50582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u50583 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u50583_img.mouseOver {
}
#u50583.mouseOver {
}
#u50583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u50584 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u50584_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u50584_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u50585 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u50585_img.mouseOver {
}
#u50585.mouseOver {
}
#u50585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u50586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u50586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u50586_img.mouseOver {
}
#u50586.mouseOver {
}
#u50586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u50587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u50587 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u50587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u50588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u50588 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u50588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u50589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u50589 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u50589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u50590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u50590 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u50590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u50591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:96px;
}
#u50591 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:1260px;
  height:95px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:401px;
}
#u50592 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:225px;
  width:1260px;
  height:400px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:774px;
}
#u50593 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:635px;
  width:1260px;
  height:773px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50594 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:711px;
  width:1220px;
  height:645px;
}
#u50595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:46px;
}
#u50595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50595_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:288px;
  word-wrap:break-word;
}
#u50596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:46px;
}
#u50596 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:0px;
  width:305px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50596_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:288px;
  word-wrap:break-word;
}
#u50597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:46px;
}
#u50597 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:0px;
  width:305px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50597_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:288px;
  word-wrap:break-word;
}
#u50598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:46px;
}
#u50598 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:0px;
  width:305px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50598_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:288px;
  word-wrap:break-word;
}
#u50599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50599_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50601 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:45px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50601_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50602 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:45px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50602_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50603 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:45px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50603_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50604_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50606 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:95px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50606_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50607 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:95px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50607_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50608 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:95px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50608_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50609_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50611 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:145px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50611_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50612 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:145px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50612_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50613 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:145px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50613_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50614_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50616 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:195px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50616_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50617 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:195px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50617_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50618 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:195px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50618_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50619_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50621 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:245px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50621_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50622 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:245px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50622_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50623 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:245px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50623_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:295px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50624_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50626 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:295px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50626_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50627 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:295px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50627_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50628 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:295px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50628_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:345px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50629_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50631 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:345px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50631_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50632 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:345px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50632_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50633 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:345px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50633_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:395px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50634_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50636 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:395px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50636_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50637 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:395px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50637_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50638 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:395px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50638_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:445px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50639_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50641 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:445px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50641_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50642 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:445px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50642_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50643 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:445px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50643_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:495px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50644_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50646 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:495px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50646_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50647 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:495px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50647_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50648 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:495px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50648_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:545px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50649_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50651 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:545px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50651_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50652 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:545px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50652_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50653 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:545px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50653_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:595px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50654_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:288px;
  word-wrap:break-word;
}
#u50656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50656 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:595px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50656_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50657 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:595px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50657_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u50658 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:595px;
  width:305px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50658_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:283px;
  word-wrap:break-word;
}
#u50659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50659 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:656px;
  width:80px;
  height:35px;
  color:#999999;
}
#u50659_img.mouseOver {
}
#u50659.mouseOver {
}
#u50659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u50659_ann {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:652px;
  width:1px;
  height:1px;
}
#u50660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:36px;
}
#u50660 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:656px;
  width:1028px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u50660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:1024px;
  word-wrap:break-word;
}
#u50662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u50662 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1428px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u50662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u50664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50665-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50665-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50665-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50665-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50665-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50665-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50665-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50665 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:94px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u50666-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50666 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:245px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u50667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:361px;
}
#u50667 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:245px;
  width:1220px;
  height:360px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u50667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1216px;
  word-wrap:break-word;
}
#u50669 {
  position:fixed;
  right:20px;
  bottom:20px;
}
#u50669_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  background-image:none;
}
#u50669_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50670_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u50670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u50670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u50671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50671_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u50672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u50672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:500px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u50672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:480px;
  word-wrap:break-word;
}
#u50673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u50675 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:358px;
  height:10px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u50675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:11px;
}
#u50676 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:107px;
  height:10px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u50676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u50677 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:116px;
  width:50px;
  height:20px;
  font-size:12px;
  text-align:center;
  line-height:16px;
}
#u50677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u50669_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  visibility:hidden;
  background-image:none;
}
#u50669_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50678_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u50678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u50678_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u50679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u50679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50679_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u50680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u50680 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u50680_img.mouseOver {
}
#u50680.mouseOver {
}
#u50680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u50681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u50682 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:125px;
  width:140px;
  height:40px;
  color:#FFFFFF;
  line-height:20px;
}
#u50682_img.mouseOver {
}
#u50682.mouseOver {
  opacity:0.8;
}
#u50682_img.mouseDown {
}
#u50682.mouseDown {
  opacity:1;
}
#u50682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u50683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u50683 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:125px;
  width:140px;
  height:40px;
}
#u50683_img.mouseOver {
}
#u50683.mouseOver {
  opacity:0.8;
}
#u50683_img.mouseDown {
}
#u50683.mouseDown {
  opacity:1;
}
#u50683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u50684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
}
#u50684 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u50685 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u50685_img.mouseOver {
}
#u50685.mouseOver {
}
#u50685_img.selected {
}
#u50685.selected {
}
#u50685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u50686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u50686 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u50686_img.mouseOver {
}
#u50686.mouseOver {
}
#u50686_img.selected {
}
#u50686.selected {
}
#u50686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u50687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u50687 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u50687_img.mouseOver {
}
#u50687.mouseOver {
}
#u50687_img.selected {
}
#u50687.selected {
}
#u50687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u50688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50688 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:150px;
  width:80px;
  height:35px;
  color:#999999;
}
#u50688_img.mouseOver {
}
#u50688.mouseOver {
}
#u50688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u50689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50689 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:150px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u50689_img.mouseOver {
}
#u50689.mouseOver {
  opacity:0.8;
}
#u50689_img.mouseDown {
}
#u50689.mouseDown {
  opacity:1;
}
#u50689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u50690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50691 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u50691_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50691_ann {
  border-width:0px;
  position:absolute;
  left:783px;
  top:146px;
  width:1px;
  height:1px;
}
#u50692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50692 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u50692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u50693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50694 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u50694_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50694_ann {
  border-width:0px;
  position:absolute;
  left:593px;
  top:146px;
  width:1px;
  height:1px;
}
#u50695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50695 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u50695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u50696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50697 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u50697_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50697_ann {
  border-width:0px;
  position:absolute;
  left:213px;
  top:146px;
  width:1px;
  height:1px;
}
#u50698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50698 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u50698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u50699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50700 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u50700_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50700_ann {
  border-width:0px;
  position:absolute;
  left:403px;
  top:146px;
  width:1px;
  height:1px;
}
#u50701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50701 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u50701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u50702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50702 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:656px;
  width:80px;
  height:35px;
  color:#999999;
}
#u50702_img.mouseOver {
}
#u50702.mouseOver {
}
#u50702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u50702_ann {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:652px;
  width:1px;
  height:1px;
}
