body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u39787 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1702px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u39787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u39789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1543px;
}
#u39789 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:150px;
  width:1260px;
  height:1542px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u39789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u39790 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:160px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u39790_img.selected {
}
#u39790.selected {
}
#u39790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u39791 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:209px;
  width:1200px;
  height:200px;
}
#u39792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u39792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u39793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39793 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39793_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39794 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39795 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39795_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39797 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39797_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39798 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39799 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u39799_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39802 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u39802_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39804 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39805 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u39805_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39808 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:120px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u39808_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39809 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:120px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39810 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:120px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39810_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39812 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:160px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39812_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39813 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:160px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39814 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:160px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u39814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39816 {
  position:fixed;
  left:0px;
  top:0px;
}
#u39816_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u39816_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39817_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u39817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u39817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u39818 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u39818_img.mouseOver {
}
#u39818.mouseOver {
}
#u39818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u39819 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u39819_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u39819_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u39820 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u39820_img.mouseOver {
}
#u39820.mouseOver {
}
#u39820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u39821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u39821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u39821_img.mouseOver {
}
#u39821.mouseOver {
}
#u39821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u39822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u39822 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u39822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u39823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u39823 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u39823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u39824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u39824 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u39824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u39825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u39825 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u39825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u39826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:71px;
}
#u39826 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u39826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:41px;
}
#u39827 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:85px;
  width:333px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u39827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:333px;
  word-wrap:break-word;
}
#u39828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:41px;
}
#u39828 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:85px;
  width:260px;
  height:40px;
  text-align:left;
  line-height:28px;
}
#u39828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u39830 {
  position:fixed;
  left:50%;
  margin-left:-280.5px;
  top:50%;
  margin-top:-200.5px;
}
#u39830_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:561px;
  height:401px;
  background-image:none;
}
#u39830_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39831_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:571px;
  height:411px;
}
#u39831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:400px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u39831_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:520px;
  word-wrap:break-word;
}
#u39832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:51px;
}
#u39832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u39832_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:520px;
  word-wrap:break-word;
}
#u39833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u39833 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u39833_img.mouseOver {
}
#u39833.mouseOver {
}
#u39833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u39834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:61px;
}
#u39835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:560px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u39835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u39838 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:355px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u39838_img.mouseOver {
}
#u39838.mouseOver {
  opacity:0.8;
}
#u39838_img.mouseDown {
}
#u39838.mouseDown {
  opacity:1;
}
#u39838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u39839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u39839 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:355px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u39839_img.mouseOver {
}
#u39839.mouseOver {
  opacity:0.8;
}
#u39839_img.mouseDown {
}
#u39839.mouseDown {
  opacity:1;
}
#u39839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u39840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:201px;
}
#u39841 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:490px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u39841_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:470px;
  word-wrap:break-word;
}
#u39842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:41px;
}
#u39842 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:270px;
  width:490px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:28px;
}
#u39842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:470px;
  word-wrap:break-word;
}
#u39843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:31px;
}
#u39843 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:490px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u39843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u39844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u39844 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:599px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u39844_img.selected {
}
#u39844.selected {
}
#u39844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u39845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:972px;
}
#u39846 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:668px;
  width:1px;
  height:971px;
}
#u39846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u39847 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:658px;
  width:10px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u39847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39848_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u39848 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:700px;
  width:10px;
  height:10px;
  color:#999999;
}
#u39848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39849_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u39849 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:819px;
  width:10px;
  height:10px;
  color:#999999;
}
#u39849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39850_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u39850 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:939px;
  width:10px;
  height:10px;
  color:#999999;
}
#u39850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39851_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u39851 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1059px;
  width:10px;
  height:10px;
  color:#999999;
}
#u39851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39852_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u39852 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1179px;
  width:10px;
  height:10px;
  color:#999999;
}
#u39852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39853_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u39853 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1299px;
  width:10px;
  height:10px;
  color:#999999;
}
#u39853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39854_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u39854 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1419px;
  width:10px;
  height:10px;
  color:#999999;
}
#u39854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39855_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u39855 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1539px;
  width:10px;
  height:10px;
  color:#999999;
}
#u39855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u39856 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:652px;
  width:75px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:32px;
}
#u39856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  word-wrap:break-word;
}
#u39857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u39857 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:419px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u39857_img.selected {
}
#u39857.selected {
}
#u39857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u39858 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:469px;
  width:1200px;
  height:120px;
}
#u39859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u39859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u39860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39860 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39860_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39861 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39862 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39862_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39864 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39864_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39865 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u39865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u39866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39866 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39866_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39868 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39868_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u39869 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u39869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u39870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u39870 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u39870_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u39871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u39872 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:699px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u39872_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u39873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u39873 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:699px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u39873_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u39874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u39874 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:699px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u39874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u39875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u39876 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:939px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u39876_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u39877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u39877 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:939px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u39877_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u39878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u39878 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:939px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u39878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u39879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u39880 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1059px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u39880_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u39881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u39881 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1059px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u39881_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u39882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u39882 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1059px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u39882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u39883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u39884 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1179px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u39884_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u39885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u39885 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1179px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u39885_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u39886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u39886 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1179px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u39886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u39887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u39888 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1299px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u39888_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u39889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u39889 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1299px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u39889_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u39890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u39890 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1299px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u39890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u39891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u39892 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1419px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u39892_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u39893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u39893 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1419px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u39893_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u39894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u39894 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1419px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u39894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u39895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u39896 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1539px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u39896_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u39897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u39897 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1539px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u39897_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u39898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u39898 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1539px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u39898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u39899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u39899 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:88px;
  width:110px;
  height:35px;
  color:#999999;
}
#u39899_img.mouseOver {
}
#u39899.mouseOver {
}
#u39899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u39899_ann {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:84px;
  width:1px;
  height:1px;
}
#u39900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u39901 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:819px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u39901_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u39902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u39902 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:819px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u39902_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u39903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u39903 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:819px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u39903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
