body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1200px;
}
#u34682 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1260px;
  height:1199px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u34682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34683 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:1199px;
  height:95px;
}
#u34684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:46px;
}
#u34684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u34684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:166px;
  word-wrap:break-word;
}
#u34685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u34685 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u34685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u34686 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u34686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u34687 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u34687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:46px;
}
#u34688 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:0px;
  width:98px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u34688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u34689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u34689 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u34689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u34690 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u34690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:46px;
}
#u34691 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:0px;
  width:98px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u34691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u34692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u34692 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u34692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u34693 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u34693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:46px;
}
#u34694 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:0px;
  width:133px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u34694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u34695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:51px;
}
#u34695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:170px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u34695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u34696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u34696 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:45px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u34696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u34697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u34697 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:45px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u34697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u34698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u34698 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:45px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u34698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u34699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
}
#u34699 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:45px;
  width:98px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u34699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  word-wrap:break-word;
}
#u34700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u34700 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:45px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u34700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u34701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u34701 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:45px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u34701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u34702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
}
#u34702 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:45px;
  width:98px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u34702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  word-wrap:break-word;
}
#u34703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u34703 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:45px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u34703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u34704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u34704 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:45px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u34704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u34705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
}
#u34705 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:45px;
  width:133px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u34705_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u34706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u34706 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u34706_img.selected {
}
#u34706.selected {
}
#u34706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
.u34708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1199px;
  height:50px;
}
.u34709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:51px;
}
.u34709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
.u34709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
.u34710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
.u34710 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
.u34710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
.u34711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
.u34711 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
.u34711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
.u34712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
.u34712 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
.u34712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
.u34713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
}
.u34713 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:0px;
  width:98px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
.u34713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  word-wrap:break-word;
}
.u34714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
.u34714 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
.u34714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
.u34715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
.u34715 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
.u34715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
.u34716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
}
.u34716 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:0px;
  width:98px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
.u34716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  word-wrap:break-word;
}
.u34717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
.u34717 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
.u34717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
.u34718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
.u34718 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
.u34718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
.u34719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
}
.u34719 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:0px;
  width:133px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
.u34719_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u34707-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:49px;
}
#u34707-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1199px;
  height:49px;
}
#u34707-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1199px;
  height:49px;
}
#u34707-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:1199px;
  height:49px;
}
#u34707-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:1199px;
  height:49px;
}
#u34707-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:1199px;
  height:49px;
}
#u34707-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:1199px;
  height:49px;
}
#u34707-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:1199px;
  height:49px;
}
#u34707-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:1199px;
  height:49px;
}
#u34707-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:441px;
  width:1199px;
  height:49px;
}
#u34707-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:1199px;
  height:49px;
}
#u34707-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:1199px;
  height:49px;
}
#u34707-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:588px;
  width:1199px;
  height:49px;
}
#u34707-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:1199px;
  height:49px;
}
#u34707-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:1199px;
  height:49px;
}
#u34707-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:735px;
  width:1199px;
  height:49px;
}
#u34707-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:1199px;
  height:49px;
}
#u34707-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:833px;
  width:1199px;
  height:49px;
}
#u34707-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:882px;
  width:1199px;
  height:49px;
}
#u34707 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:175px;
  width:1199px;
  height:931px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u34721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34722 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:1125px;
  width:35px;
  height:35px;
  color:#999999;
}
#u34722_img.mouseOver {
}
#u34722.mouseOver {
}
#u34722_img.selected {
}
#u34722.selected {
}
#u34722_img.disabled {
}
#u34722.disabled {
}
#u34722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u34723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34723 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:1125px;
  width:35px;
  height:35px;
  color:#999999;
}
#u34723_img.mouseOver {
}
#u34723.mouseOver {
}
#u34723_img.selected {
}
#u34723.selected {
}
#u34723_img.disabled {
}
#u34723.disabled {
}
#u34723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u34724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34724 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:1125px;
  width:35px;
  height:35px;
  color:#999999;
}
#u34724_img.mouseOver {
}
#u34724.mouseOver {
}
#u34724_img.selected {
}
#u34724.selected {
}
#u34724_img.disabled {
}
#u34724.disabled {
}
#u34724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u34725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34725 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:1125px;
  width:35px;
  height:35px;
  color:#999999;
}
#u34725_img.mouseOver {
}
#u34725.mouseOver {
}
#u34725_img.selected {
}
#u34725.selected {
}
#u34725_img.disabled {
}
#u34725.disabled {
}
#u34725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u34726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34726 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:1125px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u34726_img.mouseOver {
}
#u34726.mouseOver {
}
#u34726_img.selected {
}
#u34726.selected {
}
#u34726_img.disabled {
}
#u34726.disabled {
}
#u34726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u34727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34727 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1125px;
  width:35px;
  height:35px;
  color:#999999;
}
#u34727_img.mouseOver {
}
#u34727.mouseOver {
}
#u34727_img.selected {
}
#u34727.selected {
}
#u34727_img.disabled {
}
#u34727.disabled {
}
#u34727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u34728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34728 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:1125px;
  width:35px;
  height:35px;
  color:#999999;
}
#u34728_img.mouseOver {
}
#u34728.mouseOver {
}
#u34728_img.selected {
}
#u34728.selected {
}
#u34728_img.disabled {
}
#u34728.disabled {
}
#u34728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u34729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34729 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:1125px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u34729_img.mouseOver {
}
#u34729.mouseOver {
}
#u34729_img.selected {
}
#u34729.selected {
}
#u34729_img.disabled {
}
#u34729.disabled {
}
#u34729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u34730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u34730 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:1125px;
  width:35px;
  height:35px;
  color:#999999;
}
#u34730_img.mouseOver {
}
#u34730.mouseOver {
}
#u34730_img.selected {
}
#u34730.selected {
}
#u34730_img.disabled {
}
#u34730.disabled {
}
#u34730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u34731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u34731 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:1125px;
  width:80px;
  height:35px;
}
#u34731_img.mouseOver {
}
#u34731.mouseOver {
}
#u34731_img.selected {
}
#u34731.selected {
}
#u34731_img.disabled {
}
#u34731.disabled {
}
#u34731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u34732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:31px;
}
#u34732 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:40px;
  width:820px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u34732_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-9px;
  width:800px;
  word-wrap:break-word;
}
