body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44590 {
  position:fixed;
  left:0px;
  top:0px;
}
#u44590_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u44590_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44591_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u44591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u44591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u44592 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u44592_img.mouseOver {
}
#u44592.mouseOver {
}
#u44592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u44593 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u44593_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u44593_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u44594 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44594_img.mouseOver {
}
#u44594.mouseOver {
}
#u44594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u44595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u44595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44595_img.mouseOver {
}
#u44595.mouseOver {
}
#u44595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u44596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u44596 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u44596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u44597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u44597 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u44597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u44598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u44598 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u44598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u44599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u44599 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u44599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u44600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1208px;
}
#u44601 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:175px;
  width:1260px;
  height:1207px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u44601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u44603 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1401px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u44603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u44606 {
  position:fixed;
  left:0px;
  top:0px;
}
#u44606_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u44606_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44607_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u44607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u44607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u44608 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u44608_img.mouseOver {
}
#u44608.mouseOver {
}
#u44608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u44609 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u44609_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u44609_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u44610 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44610_img.mouseOver {
}
#u44610.mouseOver {
}
#u44610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u44611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u44611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44611_img.mouseOver {
}
#u44611.mouseOver {
}
#u44611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u44612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u44612 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u44612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u44613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u44613 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u44613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u44614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u44614 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u44614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u44615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u44615 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u44615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u44617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u44618 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u44618_img.mouseOver {
}
#u44618.mouseOver {
}
#u44618_img.selected {
}
#u44618.selected {
}
#u44618_img.disabled {
}
#u44618.disabled {
}
#u44618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u44619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u44619 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u44619_img.mouseOver {
}
#u44619.mouseOver {
}
#u44619_img.selected {
}
#u44619.selected {
}
#u44619_img.disabled {
}
#u44619.disabled {
}
#u44619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u44620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u44620 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u44620_img.mouseOver {
}
#u44620.mouseOver {
}
#u44620_img.selected {
}
#u44620.selected {
}
#u44620_img.disabled {
}
#u44620.disabled {
}
#u44620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u44621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u44621 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u44621_img.mouseOver {
}
#u44621.mouseOver {
}
#u44621_img.selected {
}
#u44621.selected {
}
#u44621_img.disabled {
}
#u44621.disabled {
}
#u44621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u44622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u44622 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1297px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u44622_img.mouseOver {
}
#u44622.mouseOver {
}
#u44622_img.selected {
}
#u44622.selected {
}
#u44622_img.disabled {
}
#u44622.disabled {
}
#u44622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u44623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u44623 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u44623_img.mouseOver {
}
#u44623.mouseOver {
}
#u44623_img.selected {
}
#u44623.selected {
}
#u44623_img.disabled {
}
#u44623.disabled {
}
#u44623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u44624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u44624 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u44624_img.mouseOver {
}
#u44624.mouseOver {
}
#u44624_img.selected {
}
#u44624.selected {
}
#u44624_img.disabled {
}
#u44624.disabled {
}
#u44624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u44625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u44625 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:1297px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u44625_img.mouseOver {
}
#u44625.mouseOver {
}
#u44625_img.selected {
}
#u44625.selected {
}
#u44625_img.disabled {
}
#u44625.disabled {
}
#u44625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u44626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u44626 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u44626_img.mouseOver {
}
#u44626.mouseOver {
}
#u44626_img.selected {
}
#u44626.selected {
}
#u44626_img.disabled {
}
#u44626.disabled {
}
#u44626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u44627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u44627 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:1297px;
  width:80px;
  height:35px;
}
#u44627_img.mouseOver {
}
#u44627.mouseOver {
}
#u44627_img.selected {
}
#u44627.selected {
}
#u44627_img.disabled {
}
#u44627.disabled {
}
#u44627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u44628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44630 {
  position:fixed;
  right:20px;
  bottom:20px;
}
#u44630_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  background-image:none;
}
#u44630_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44631_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u44631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u44631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u44632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u44632_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u44633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u44633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:500px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u44633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:480px;
  word-wrap:break-word;
}
#u44634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u44636 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:358px;
  height:10px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u44636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:11px;
}
#u44637 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:107px;
  height:10px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u44637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u44638 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:116px;
  width:50px;
  height:20px;
  font-size:12px;
  text-align:center;
  line-height:16px;
}
#u44638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u44630_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  visibility:hidden;
  background-image:none;
}
#u44630_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44639_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u44639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u44639_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u44640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u44640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u44640_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u44641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u44641 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u44641_img.mouseOver {
}
#u44641.mouseOver {
}
#u44641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u44642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u44643 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:125px;
  width:140px;
  height:40px;
  color:#FFFFFF;
  line-height:20px;
}
#u44643_img.mouseOver {
}
#u44643.mouseOver {
  opacity:0.8;
}
#u44643_img.mouseDown {
}
#u44643.mouseDown {
  opacity:1;
}
#u44643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u44644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u44644 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:125px;
  width:140px;
  height:40px;
}
#u44644_img.mouseOver {
}
#u44644.mouseOver {
  opacity:0.8;
}
#u44644_img.mouseDown {
}
#u44644.mouseDown {
  opacity:1;
}
#u44644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u44645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u44645 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:195px;
  width:90px;
  height:35px;
}
#u44645_img.mouseOver {
}
#u44645.mouseOver {
}
#u44645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u44645_ann {
  border-width:0px;
  position:absolute;
  left:123px;
  top:191px;
  width:1px;
  height:1px;
}
#u44646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u44646 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1295px;
  width:80px;
  height:35px;
  color:#999999;
}
#u44646_img.mouseOver {
}
#u44646.mouseOver {
}
#u44646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u44647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u44647 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1295px;
  width:80px;
  height:35px;
  color:#999999;
}
#u44647_img.mouseOver {
}
#u44647.mouseOver {
}
#u44647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u44648 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:250px;
  width:1220px;
  height:245px;
}
#u44649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:46px;
}
#u44649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u44650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u44650 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:160px;
  height:45px;
  text-align:left;
}
#u44650_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u44652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:46px;
}
#u44652 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:140px;
  height:45px;
  text-align:left;
}
#u44652_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:123px;
  word-wrap:break-word;
}
#u44654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
}
#u44654 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:150px;
  height:45px;
  text-align:left;
}
#u44654_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:128px;
  word-wrap:break-word;
}
#u44656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:46px;
}
#u44656 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:140px;
  height:45px;
  text-align:left;
}
#u44656_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u44658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
}
#u44658 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:0px;
  width:150px;
  height:45px;
  text-align:left;
}
#u44658_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:133px;
  word-wrap:break-word;
}
#u44660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u44660 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:0px;
  width:160px;
  height:45px;
  text-align:left;
}
#u44660_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u44662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u44662 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:0px;
  width:160px;
  height:45px;
  text-align:left;
}
#u44662_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u44664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:46px;
}
#u44664 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:0px;
  width:110px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u44664_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:93px;
  word-wrap:break-word;
}
#u44665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u44665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u44666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44666 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:45px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44666_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u44667 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:45px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44667_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u44668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u44668 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:45px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44668_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
#u44669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u44669 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:45px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44669_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:118px;
  word-wrap:break-word;
}
#u44670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u44670 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:45px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44670_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
#u44671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44671 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:45px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44671_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44672 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:45px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44672_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u44673 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:45px;
  width:110px;
  height:50px;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u44673_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:93px;
  word-wrap:break-word;
}
#u44675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u44675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u44676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44676 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:95px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44676_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u44677 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:95px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44677_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u44678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u44678 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:95px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44678_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
#u44679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u44679 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:95px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44679_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:118px;
  word-wrap:break-word;
}
#u44680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u44680 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:95px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44680_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
#u44681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44681 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:95px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44681_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44682 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:95px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44682_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u44683 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:95px;
  width:110px;
  height:50px;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u44683_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:93px;
  word-wrap:break-word;
}
#u44685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u44685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u44686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44686 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:145px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44686_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u44687 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:145px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44687_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u44688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u44688 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:145px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44688_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
#u44689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u44689 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:145px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44689_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:118px;
  word-wrap:break-word;
}
#u44690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u44690 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:145px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44690_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
#u44691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44691 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:145px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44691_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44692 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:145px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44692_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u44693 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:145px;
  width:110px;
  height:50px;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u44693_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:93px;
  word-wrap:break-word;
}
#u44695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u44695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u44696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44696 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:195px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44696_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u44697 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:195px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44697_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u44698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u44698 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:195px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44698_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
#u44699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u44699 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:195px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44699_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:118px;
  word-wrap:break-word;
}
#u44700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u44700 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:195px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44700_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
#u44701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44701 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:195px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44701_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u44702 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:195px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u44702_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u44703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u44703 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:195px;
  width:110px;
  height:50px;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u44703_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:93px;
  word-wrap:break-word;
}
#u44705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:96px;
}
#u44705 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:95px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u44705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u44706 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:100px;
  width:80px;
  height:35px;
  color:#999999;
}
#u44706_img.mouseOver {
}
#u44706.mouseOver {
}
#u44706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u44707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u44707 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:100px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u44707_img.mouseOver {
}
#u44707.mouseOver {
  opacity:0.8;
}
#u44707_img.mouseDown {
}
#u44707.mouseDown {
  opacity:1;
}
#u44707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u44708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u44708 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u44708_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u44708_ann {
  border-width:0px;
  position:absolute;
  left:213px;
  top:96px;
  width:1px;
  height:1px;
}
#u44709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u44710 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u44710_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u44710_ann {
  border-width:0px;
  position:absolute;
  left:403px;
  top:96px;
  width:1px;
  height:1px;
}
#u44711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u44711 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u44711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u44712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u44713 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u44713_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u44713_ann {
  border-width:0px;
  position:absolute;
  left:593px;
  top:96px;
  width:1px;
  height:1px;
}
#u44714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u44714 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u44714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u44715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u44716 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u44716_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u44716_ann {
  border-width:0px;
  position:absolute;
  left:783px;
  top:96px;
  width:1px;
  height:1px;
}
#u44717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u44717 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u44717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u44718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u44719 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u44719_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u44719_ann {
  border-width:0px;
  position:absolute;
  left:973px;
  top:96px;
  width:1px;
  height:1px;
}
#u44720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u44720 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u44720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
.u44722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1220px;
  height:50px;
}
.u44723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
.u44723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.u44723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
.u44724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
.u44724 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u44724_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
.u44725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
.u44725 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u44725_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
.u44726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
.u44726 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u44726_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
.u44727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
.u44727 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u44727_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:118px;
  word-wrap:break-word;
}
.u44728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
.u44728 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u44728_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:128px;
  word-wrap:break-word;
}
.u44729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
.u44729 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u44729_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
.u44730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
.u44730 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u44730_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
.u44731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
.u44731 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:0px;
  width:110px;
  height:50px;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u44731_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:93px;
  word-wrap:break-word;
}
#u44721-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:49px;
}
#u44721-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1220px;
  height:49px;
}
#u44721-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1220px;
  height:49px;
}
#u44721-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:1220px;
  height:49px;
}
#u44721-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:1220px;
  height:49px;
}
#u44721-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:1220px;
  height:49px;
}
#u44721-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:1220px;
  height:49px;
}
#u44721-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:1220px;
  height:49px;
}
#u44721-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:1220px;
  height:49px;
}
#u44721-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:441px;
  width:1220px;
  height:49px;
}
#u44721-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:1220px;
  height:49px;
}
#u44721-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:1220px;
  height:49px;
}
#u44721-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:588px;
  width:1220px;
  height:49px;
}
#u44721-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:1220px;
  height:49px;
}
#u44721-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:1220px;
  height:49px;
}
#u44721-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:735px;
  width:1220px;
  height:49px;
}
#u44721 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:496px;
  width:1220px;
  height:784px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u44733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u44733 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:195px;
  width:80px;
  height:35px;
  color:#999999;
}
#u44733_img.mouseOver {
}
#u44733.mouseOver {
}
#u44733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u44733_ann {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:191px;
  width:1px;
  height:1px;
}
#u44734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u44734 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:195px;
  width:80px;
  height:35px;
  color:#999999;
}
#u44734_img.mouseOver {
}
#u44734.mouseOver {
}
#u44734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u44734_ann {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:191px;
  width:1px;
  height:1px;
}
