body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u59832 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1683px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u59832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u59834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1514px;
}
#u59834 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:150px;
  width:1260px;
  height:1513px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u59834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u59835 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:160px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u59835_img.selected {
}
#u59835.selected {
}
#u59835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u59836 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:209px;
  width:1200px;
  height:160px;
}
#u59837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u59837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u59838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59838 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59838_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59839 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u59839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u59840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59840 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59840_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u59841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u59842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59842 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59842_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59843 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u59843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u59844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59844 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59844_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u59845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u59846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59846 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59846_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59847 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u59847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u59848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59848 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u59848_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u59850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u59851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59851 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:120px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u59851_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59852 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:120px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u59852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59853 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:120px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u59853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59855 {
  position:fixed;
  left:0px;
  top:0px;
}
#u59855_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u59855_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59856_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u59856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u59856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u59857 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u59857_img.mouseOver {
}
#u59857.mouseOver {
}
#u59857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u59858 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u59858_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u59858_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u59859 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u59859_img.mouseOver {
}
#u59859.mouseOver {
}
#u59859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u59860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u59860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u59860_img.mouseOver {
}
#u59860.mouseOver {
}
#u59860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u59861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u59861 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u59861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u59862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u59862 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u59862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u59863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u59863 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u59863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u59864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u59864 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u59864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u59865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:71px;
}
#u59865 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u59865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:41px;
}
#u59866 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:85px;
  width:333px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u59866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:333px;
  word-wrap:break-word;
}
#u59867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:41px;
}
#u59867 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:85px;
  width:260px;
  height:40px;
  text-align:left;
  line-height:28px;
}
#u59867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u59869 {
  position:fixed;
  left:50%;
  margin-left:-280.5px;
  top:50%;
  margin-top:-200.5px;
}
#u59869_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:561px;
  height:401px;
  background-image:none;
}
#u59869_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59870_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:571px;
  height:411px;
}
#u59870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:400px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u59870_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:520px;
  word-wrap:break-word;
}
#u59871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:51px;
}
#u59871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u59871_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:520px;
  word-wrap:break-word;
}
#u59872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u59872 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u59872_img.mouseOver {
}
#u59872.mouseOver {
}
#u59872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u59873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:61px;
}
#u59874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:560px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u59874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u59877 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:355px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u59877_img.mouseOver {
}
#u59877.mouseOver {
  opacity:0.8;
}
#u59877_img.mouseDown {
}
#u59877.mouseDown {
  opacity:1;
}
#u59877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u59878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u59878 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:355px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u59878_img.mouseOver {
}
#u59878.mouseOver {
  opacity:0.8;
}
#u59878_img.mouseDown {
}
#u59878.mouseDown {
  opacity:1;
}
#u59878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u59879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:201px;
}
#u59880 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:490px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u59880_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:470px;
  word-wrap:break-word;
}
#u59881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:41px;
}
#u59881 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:270px;
  width:490px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:28px;
}
#u59881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:470px;
  word-wrap:break-word;
}
#u59882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:31px;
}
#u59882 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:490px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u59882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u59883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u59883 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:569px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u59883_img.selected {
}
#u59883.selected {
}
#u59883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u59884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:972px;
}
#u59885 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:638px;
  width:1px;
  height:971px;
}
#u59885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u59886 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:628px;
  width:10px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u59886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59887_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u59887 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:670px;
  width:10px;
  height:10px;
  color:#999999;
}
#u59887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59888_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u59888 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:789px;
  width:10px;
  height:10px;
  color:#999999;
}
#u59888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59889_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u59889 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:909px;
  width:10px;
  height:10px;
  color:#999999;
}
#u59889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59890_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u59890 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1029px;
  width:10px;
  height:10px;
  color:#999999;
}
#u59890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59891_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u59891 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1149px;
  width:10px;
  height:10px;
  color:#999999;
}
#u59891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59892_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u59892 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1269px;
  width:10px;
  height:10px;
  color:#999999;
}
#u59892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59893_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u59893 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1389px;
  width:10px;
  height:10px;
  color:#999999;
}
#u59893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59894_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u59894 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1509px;
  width:10px;
  height:10px;
  color:#999999;
}
#u59894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u59895 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:622px;
  width:75px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:32px;
}
#u59895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  word-wrap:break-word;
}
#u59896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u59896 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:379px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u59896_img.selected {
}
#u59896.selected {
}
#u59896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u59897 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:429px;
  width:1200px;
  height:120px;
}
#u59898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u59898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u59899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59899 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59899_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59900 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u59900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u59901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59901 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59901_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u59902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u59903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59903 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59903_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59904 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u59904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u59905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59905 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59905_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u59906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u59907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59907 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59907_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u59908 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u59908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u59909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u59909 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u59909_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u59910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u59911 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:669px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u59911_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u59912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u59912 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:669px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u59912_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u59913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u59913 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:669px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u59913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u59914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u59915 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:909px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u59915_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u59916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u59916 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:909px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u59916_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u59917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u59917 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:909px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u59917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u59918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u59919 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1029px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u59919_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u59920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u59920 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1029px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u59920_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u59921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u59921 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1029px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u59921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u59922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u59923 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1149px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u59923_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u59924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u59924 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1149px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u59924_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u59925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u59925 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1149px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u59925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u59926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u59927 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1269px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u59927_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u59928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u59928 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1269px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u59928_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u59929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u59929 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1269px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u59929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u59930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u59931 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1389px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u59931_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u59932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u59932 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1389px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u59932_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u59933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u59933 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1389px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u59933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u59934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u59935 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1509px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u59935_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u59936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u59936 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1509px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u59936_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u59937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u59937 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1509px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u59937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u59938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u59938 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:88px;
  width:110px;
  height:35px;
  color:#999999;
}
#u59938_img.mouseOver {
}
#u59938.mouseOver {
}
#u59938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u59938_ann {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:84px;
  width:1px;
  height:1px;
}
#u59939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u59940 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:789px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u59940_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u59941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u59941 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:789px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u59941_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u59942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u59942 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:789px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u59942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
