body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48090 {
  position:fixed;
  left:0px;
  top:0px;
}
#u48090_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u48090_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48091_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u48091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u48091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u48092 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u48092_img.mouseOver {
}
#u48092.mouseOver {
}
#u48092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u48093 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u48093_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u48093_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u48094 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u48094_img.mouseOver {
}
#u48094.mouseOver {
}
#u48094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u48095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u48095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u48095_img.mouseOver {
}
#u48095.mouseOver {
}
#u48095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u48096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u48096 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u48096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u48097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u48097 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u48097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u48098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u48098 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u48098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u48099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u48099 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u48099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u48100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:96px;
}
#u48100 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:1260px;
  height:95px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
}
#u48101 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u48102 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:150px;
  width:80px;
  height:35px;
  color:#999999;
}
#u48102_img.mouseOver {
}
#u48102.mouseOver {
}
#u48102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u48103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u48103 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:150px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u48103_img.mouseOver {
}
#u48103.mouseOver {
  opacity:0.8;
}
#u48103_img.mouseDown {
}
#u48103.mouseDown {
  opacity:1;
}
#u48103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u48104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u48105 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48105_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u48105_ann {
  border-width:0px;
  position:absolute;
  left:213px;
  top:146px;
  width:1px;
  height:1px;
}
#u48106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u48106 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u48106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u48107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u48107 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u48107_img.mouseOver {
}
#u48107.mouseOver {
}
#u48107_img.selected {
}
#u48107.selected {
}
#u48107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u48108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u48108 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u48108_img.mouseOver {
}
#u48108.mouseOver {
}
#u48108_img.selected {
}
#u48108.selected {
}
#u48108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u48109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u48109 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u48109_img.mouseOver {
}
#u48109.mouseOver {
}
#u48109_img.selected {
}
#u48109.selected {
}
#u48109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u48110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u48111 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u48111_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u48111_ann {
  border-width:0px;
  position:absolute;
  left:783px;
  top:146px;
  width:1px;
  height:1px;
}
#u48112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u48112 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u48112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u48113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u48114 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u48114_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u48114_ann {
  border-width:0px;
  position:absolute;
  left:593px;
  top:146px;
  width:1px;
  height:1px;
}
#u48115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u48115 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u48115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u48116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:401px;
}
#u48116 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:225px;
  width:1260px;
  height:400px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48118-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48118-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48118-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48118-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48118-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48118-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48118-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48118-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48118 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:588px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u48119-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48119 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:245px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u48120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:361px;
}
#u48120 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:245px;
  width:1220px;
  height:360px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u48120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1216px;
  word-wrap:break-word;
}
#u48121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:772px;
}
#u48121 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:635px;
  width:1260px;
  height:771px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48122 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:711px;
  width:1220px;
  height:645px;
}
#u48123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:46px;
}
#u48123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48123_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:227px;
  word-wrap:break-word;
}
#u48124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:46px;
}
#u48124 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:0px;
  width:244px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48124_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:222px;
  word-wrap:break-word;
}
#u48125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:46px;
}
#u48125 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:244px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48125_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:222px;
  word-wrap:break-word;
}
#u48126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:46px;
}
#u48126 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:0px;
  width:244px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48126_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:222px;
  word-wrap:break-word;
}
#u48127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:46px;
}
#u48127 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:0px;
  width:244px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48127_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:222px;
  word-wrap:break-word;
}
#u48128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48128_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48129 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:45px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48129_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48131 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:45px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48131_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48133 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:45px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48133_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48135 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:45px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48135_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48137_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48138 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:95px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48138_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48140 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:95px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48140_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48142 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:95px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48142_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48144 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:95px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48144_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48146_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48147 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:145px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48147_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48149 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:145px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48149_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48151 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:145px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48151_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48153 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:145px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48153_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48155_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48156 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:195px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48156_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48158 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:195px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48158_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48160 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:195px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48160_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48162 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:195px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48162_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48164_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48165 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:245px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48165_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48167 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:245px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48167_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48169 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:245px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48169_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48171 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:245px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48171_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:295px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48173_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48174 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:295px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48174_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48176 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:295px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48176_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48178 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:295px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48178_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48180 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:295px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48180_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:345px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48182_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48183 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:345px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48183_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48185 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:345px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48185_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48187 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:345px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48187_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48189 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:345px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48189_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:395px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48191_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48192 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:395px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48192_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48194 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:395px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48194_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48196 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:395px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48196_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48198 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:395px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48198_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:445px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48200_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48201 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:445px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48201_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48203 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:445px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48203_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48205 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:445px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48205_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48207 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:445px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48207_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:495px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48209_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48210 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:495px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48210_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48212 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:495px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48212_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48214 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:495px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48214_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48216 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:495px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48216_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:545px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48218_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48219 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:545px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48219_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48221 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:545px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48221_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48223 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:545px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48223_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48225 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:545px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48225_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:595px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48227_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u48228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48228 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:595px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48228_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48230 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:595px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48230_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48232 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:595px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48232_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u48234 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:595px;
  width:244px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u48234_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:222px;
  word-wrap:break-word;
}
#u48236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u48236 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:656px;
  width:80px;
  height:35px;
  color:#999999;
}
#u48236_img.mouseOver {
}
#u48236.mouseOver {
}
#u48236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u48236_ann {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:652px;
  width:1px;
  height:1px;
}
#u48237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:36px;
}
#u48237 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:656px;
  width:632px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u48237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:628px;
  word-wrap:break-word;
}
#u48239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u48239 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1426px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u48239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u48242 {
  position:fixed;
  right:20px;
  bottom:20px;
}
#u48242_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  background-image:none;
}
#u48242_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48243_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u48243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u48243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u48244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48244_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u48245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u48245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:500px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u48245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:480px;
  word-wrap:break-word;
}
#u48246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u48248 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:358px;
  height:10px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u48248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:11px;
}
#u48249 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:107px;
  height:10px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u48249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u48250 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:116px;
  width:50px;
  height:20px;
  font-size:12px;
  text-align:center;
  line-height:16px;
}
#u48250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u48242_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  visibility:hidden;
  background-image:none;
}
#u48242_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48251_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u48251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u48251_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u48252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u48252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48252_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u48253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u48253 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u48253_img.mouseOver {
}
#u48253.mouseOver {
}
#u48253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u48254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u48255 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:125px;
  width:140px;
  height:40px;
  color:#FFFFFF;
  line-height:20px;
}
#u48255_img.mouseOver {
}
#u48255.mouseOver {
  opacity:0.8;
}
#u48255_img.mouseDown {
}
#u48255.mouseDown {
  opacity:1;
}
#u48255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u48256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u48256 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:125px;
  width:140px;
  height:40px;
}
#u48256_img.mouseOver {
}
#u48256.mouseOver {
  opacity:0.8;
}
#u48256_img.mouseDown {
}
#u48256.mouseDown {
  opacity:1;
}
#u48256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u48257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u48258 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48258_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u48258_ann {
  border-width:0px;
  position:absolute;
  left:408px;
  top:146px;
  width:1px;
  height:1px;
}
#u48259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u48259 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u48259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
