body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:8026px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
  overflow:hidden;
}
#u172_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u172_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:396px;
  height:55px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:391px;
  height:50px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:391px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:51px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:0px;
  width:80px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:36px;
}
#u174_img.mouseOver {
}
#u174.mouseOver {
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1261px;
  height:101px;
  overflow:hidden;
}
#u175_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u175_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:1261px;
  height:2px;
  overflow:hidden;
}
#u176_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(233, 233, 233, 1);
  background-image:none;
}
#u176_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:51px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:0px;
  width:80px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:36px;
}
#u177_img.mouseOver {
}
#u177.mouseOver {
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:66px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:68px;
  width:200px;
  height:65px;
  font-size:24px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:200px;
  word-wrap:break-word;
}
#u180 {
  position:fixed;
  right:10px;
  bottom:10px;
}
#u180_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:205px;
  height:166px;
  background-image:none;
}
#u180_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:110px;
  width:55px;
  height:55px;
  color:#999999;
  line-height:20px;
}
#u181_img.mouseOver {
}
#u181.mouseOver {
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:55px;
  width:55px;
  height:55px;
  color:#999999;
  line-height:20px;
}
#u182_img.mouseOver {
}
#u182.mouseOver {
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:0px;
  width:55px;
  height:55px;
  color:#999999;
  line-height:20px;
}
#u183_img.mouseOver {
}
#u183.mouseOver {
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:0px;
  top:15px;
  visibility:hidden;
}
#u184_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:146px;
  height:142px;
  background-image:none;
}
#u184_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:145px;
  height:149px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:140px;
  height:144px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:31px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:5px;
  width:131px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:127px;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:34px;
  width:100px;
  height:100px;
  font-size:12px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:0px;
  width:10px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:7826px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:180px;
  width:1200px;
  height:7825px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:241px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:221px;
  width:1200px;
  height:240px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:311px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:575px;
  width:1200px;
  height:310px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:166px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1370px;
  width:1200px;
  height:165px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:36px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1852px;
  width:1200px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:213px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:2572px;
  width:1200px;
  height:212px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:263px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3062px;
  width:1200px;
  height:262px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:159px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:5229px;
  width:1200px;
  height:158px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:84px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:5739px;
  width:1200px;
  height:83px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:302px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6517px;
  width:1200px;
  height:301px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:215px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6771px;
  width:1200px;
  height:214px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:93px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:7072px;
  width:1200px;
  height:92px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:442px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:903px;
  width:345px;
  height:442px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:440px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:905px;
  width:347px;
  height:440px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:303px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:1535px;
  width:283px;
  height:303px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:637px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1904px;
  width:894px;
  height:637px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:256px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:2784px;
  width:288px;
  height:256px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:159px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3316px;
  width:1200px;
  height:158px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:341px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:3490px;
  width:663px;
  height:341px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:159px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3853px;
  width:1200px;
  height:158px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:445px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:4021px;
  width:352px;
  height:445px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:597px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:4611px;
  width:893px;
  height:597px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:75px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:4486px;
  width:1200px;
  height:74px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:321px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:5396px;
  width:817px;
  height:321px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:651px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:5822px;
  width:623px;
  height:651px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:658px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:7174px;
  width:664px;
  height:658px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:78px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:467px;
  width:809px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:809px;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:78px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:3151px;
  width:568px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:568px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:78px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:3228px;
  width:568px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:568px;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:78px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:6683px;
  width:568px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:568px;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:78px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:6978px;
  width:568px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:568px;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:78px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:7863px;
  width:568px;
  height:77px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:568px;
  word-wrap:break-word;
}
