body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69775 {
  position:fixed;
  left:0px;
  top:0px;
}
#u69775_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u69775_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69776_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u69776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u69776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u69777 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u69777_img.mouseOver {
}
#u69777.mouseOver {
}
#u69777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u69778 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u69778_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u69778_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u69779 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u69779_img.mouseOver {
}
#u69779.mouseOver {
}
#u69779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u69780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u69780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u69780_img.mouseOver {
}
#u69780.mouseOver {
}
#u69780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u69781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u69781 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u69781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u69782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u69782 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u69782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u69783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u69783 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u69783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u69784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u69784 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u69784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u69785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1203px;
}
#u69785 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:175px;
  width:1260px;
  height:1202px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u69785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u69787 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1397px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u69787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u69789 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:251px;
  width:1220px;
  height:95px;
}
#u69790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:46px;
}
#u69790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u69790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u69791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:46px;
}
#u69791 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:200px;
  height:45px;
  text-align:left;
}
#u69791_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:183px;
  word-wrap:break-word;
}
#u69793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u69793 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:120px;
  height:45px;
  text-align:left;
}
#u69793_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:103px;
  word-wrap:break-word;
}
#u69795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u69795 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:120px;
  height:45px;
  text-align:left;
}
#u69795_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u69797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u69797 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:120px;
  height:45px;
  text-align:left;
}
#u69797_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u69799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u69799 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:0px;
  width:120px;
  height:45px;
  text-align:left;
}
#u69799_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:103px;
  word-wrap:break-word;
}
#u69801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u69801 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:0px;
  width:120px;
  height:45px;
  text-align:left;
}
#u69801_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:103px;
  word-wrap:break-word;
}
#u69803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u69803 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:120px;
  height:45px;
  text-align:left;
}
#u69803_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:103px;
  word-wrap:break-word;
}
#u69805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u69805 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:0px;
  width:100px;
  height:45px;
  text-align:left;
}
#u69805_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:83px;
  word-wrap:break-word;
}
#u69807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
}
#u69807 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:0px;
  width:150px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u69807_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:133px;
  word-wrap:break-word;
}
#u69808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u69808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u69808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u69809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u69809 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:45px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u69809_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u69811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u69811 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:45px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u69811_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
#u69812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u69812 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:45px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u69812_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u69813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u69813 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:45px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u69813_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
#u69814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u69814 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:45px;
  width:120px;
  height:50px;
  text-align:left;
}
#u69814_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:103px;
  word-wrap:break-word;
}
#u69815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u69815 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:45px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u69815_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
#u69816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u69816 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:45px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u69816_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
#u69817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u69817 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:45px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u69817_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:83px;
  word-wrap:break-word;
}
#u69818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u69818 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:45px;
  width:150px;
  height:50px;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u69818_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:133px;
  word-wrap:break-word;
}
#u69822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u69823 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u69823_img.mouseOver {
}
#u69823.mouseOver {
}
#u69823_img.selected {
}
#u69823.selected {
}
#u69823_img.disabled {
}
#u69823.disabled {
}
#u69823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u69824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u69824 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u69824_img.mouseOver {
}
#u69824.mouseOver {
}
#u69824_img.selected {
}
#u69824.selected {
}
#u69824_img.disabled {
}
#u69824.disabled {
}
#u69824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u69825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u69825 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u69825_img.mouseOver {
}
#u69825.mouseOver {
}
#u69825_img.selected {
}
#u69825.selected {
}
#u69825_img.disabled {
}
#u69825.disabled {
}
#u69825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u69826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u69826 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u69826_img.mouseOver {
}
#u69826.mouseOver {
}
#u69826_img.selected {
}
#u69826.selected {
}
#u69826_img.disabled {
}
#u69826.disabled {
}
#u69826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u69827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u69827 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:1297px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u69827_img.mouseOver {
}
#u69827.mouseOver {
}
#u69827_img.selected {
}
#u69827.selected {
}
#u69827_img.disabled {
}
#u69827.disabled {
}
#u69827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u69828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u69828 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u69828_img.mouseOver {
}
#u69828.mouseOver {
}
#u69828_img.selected {
}
#u69828.selected {
}
#u69828_img.disabled {
}
#u69828.disabled {
}
#u69828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u69829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u69829 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u69829_img.mouseOver {
}
#u69829.mouseOver {
}
#u69829_img.selected {
}
#u69829.selected {
}
#u69829_img.disabled {
}
#u69829.disabled {
}
#u69829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u69830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u69830 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:1297px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u69830_img.mouseOver {
}
#u69830.mouseOver {
}
#u69830_img.selected {
}
#u69830.selected {
}
#u69830_img.disabled {
}
#u69830.disabled {
}
#u69830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u69831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u69831 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:1297px;
  width:35px;
  height:35px;
  color:#999999;
}
#u69831_img.mouseOver {
}
#u69831.mouseOver {
}
#u69831_img.selected {
}
#u69831.selected {
}
#u69831_img.disabled {
}
#u69831.disabled {
}
#u69831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u69832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u69832 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:1297px;
  width:80px;
  height:35px;
}
#u69832_img.mouseOver {
}
#u69832.mouseOver {
}
#u69832_img.selected {
}
#u69832.selected {
}
#u69832_img.disabled {
}
#u69832.disabled {
}
#u69832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u69833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u69833 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1297px;
  width:80px;
  height:35px;
  color:#999999;
}
#u69833_img.mouseOver {
}
#u69833.mouseOver {
}
#u69833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u69834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u69834 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1297px;
  width:80px;
  height:35px;
  color:#999999;
}
#u69834_img.mouseOver {
}
#u69834.mouseOver {
}
#u69834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u69835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u69835 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1297px;
  width:120px;
  height:35px;
}
#u69835_img.mouseOver {
}
#u69835.mouseOver {
}
#u69835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u69835_ann {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1293px;
  width:1px;
  height:1px;
}
.u69837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1220px;
  height:50px;
}
.u69838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
.u69838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.u69838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
.u69839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
.u69839 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u69839_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
.u69841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u69841 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u69841_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
.u69842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u69842 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u69842_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
.u69843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u69843 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u69843_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:98px;
  word-wrap:break-word;
}
.u69844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u69844 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:0px;
  width:120px;
  height:50px;
  text-align:left;
}
.u69844_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:103px;
  word-wrap:break-word;
}
.u69845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u69845 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:0px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u69845_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
.u69846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u69846 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u69846_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
.u69847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
.u69847 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u69847_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:83px;
  word-wrap:break-word;
}
.u69848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
.u69848 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:0px;
  width:150px;
  height:50px;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u69848_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:133px;
  word-wrap:break-word;
}
#u69836-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:49px;
}
#u69836-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1220px;
  height:49px;
}
#u69836-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1220px;
  height:49px;
}
#u69836-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:1220px;
  height:49px;
}
#u69836-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:1220px;
  height:49px;
}
#u69836-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:1220px;
  height:49px;
}
#u69836-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:1220px;
  height:49px;
}
#u69836-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:1220px;
  height:49px;
}
#u69836-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:1220px;
  height:49px;
}
#u69836-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:441px;
  width:1220px;
  height:49px;
}
#u69836-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:1220px;
  height:49px;
}
#u69836-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:1220px;
  height:49px;
}
#u69836-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:588px;
  width:1220px;
  height:49px;
}
#u69836-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:1220px;
  height:49px;
}
#u69836-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:1220px;
  height:49px;
}
#u69836-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:735px;
  width:1220px;
  height:49px;
}
#u69836-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:1220px;
  height:49px;
}
#u69836-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:833px;
  width:1220px;
  height:49px;
}
#u69836-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:882px;
  width:1220px;
  height:49px;
}
#u69836 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:346px;
  width:1220px;
  height:931px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u69851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:96px;
}
#u69851 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:95px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u69851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u69852 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:100px;
  width:80px;
  height:35px;
  color:#999999;
}
#u69852_img.mouseOver {
}
#u69852.mouseOver {
}
#u69852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u69853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u69853 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:100px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u69853_img.mouseOver {
}
#u69853.mouseOver {
  opacity:0.8;
}
#u69853_img.mouseDown {
}
#u69853.mouseDown {
  opacity:1;
}
#u69853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u69854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u69854 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u69854_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u69854_ann {
  border-width:0px;
  position:absolute;
  left:213px;
  top:96px;
  width:1px;
  height:1px;
}
#u69855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u69856 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u69856_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u69856_ann {
  border-width:0px;
  position:absolute;
  left:973px;
  top:96px;
  width:1px;
  height:1px;
}
#u69857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69857 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u69857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u69859 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u69859_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u69859_ann {
  border-width:0px;
  position:absolute;
  left:783px;
  top:96px;
  width:1px;
  height:1px;
}
#u69860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69860 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u69860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u69862 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u69862_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u69862_ann {
  border-width:0px;
  position:absolute;
  left:593px;
  top:96px;
  width:1px;
  height:1px;
}
#u69863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69863 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u69863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u69865 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u69865_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u69865_ann {
  border-width:0px;
  position:absolute;
  left:403px;
  top:96px;
  width:1px;
  height:1px;
}
#u69866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69866 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u69866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u69867 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:195px;
  width:100px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u69867_img.mouseOver {
}
#u69867.mouseOver {
  opacity:0.8;
}
#u69867_img.mouseDown {
}
#u69867.mouseDown {
  opacity:1;
}
#u69867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u69868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u69868 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:100px;
  width:100px;
  height:35px;
  color:#0079FE;
}
#u69868_img.mouseOver {
}
#u69868.mouseOver {
  opacity:0.8;
}
#u69868_img.mouseDown {
}
#u69868.mouseDown {
  opacity:1;
}
#u69868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u69869 {
  position:fixed;
  left:50%;
  margin-left:-280.5px;
  top:50%;
  margin-top:-215px;
  visibility:hidden;
}
#u69869_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:561px;
  height:430px;
  background-image:none;
}
#u69869_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69870_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:571px;
  height:440px;
}
#u69870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:429px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u69870_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:520px;
  word-wrap:break-word;
}
#u69871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:51px;
}
#u69871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u69871_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:520px;
  word-wrap:break-word;
}
#u69872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u69872 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u69872_img.mouseOver {
}
#u69872.mouseOver {
}
#u69872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u69873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:561px;
  height:320px;
  overflow:hidden;
}
#u69873_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:320px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u69873_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u69874 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:240px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u69874_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u69874_ann {
  border-width:0px;
  position:absolute;
  left:253px;
  top:16px;
  width:1px;
  height:1px;
}
#u69875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u69876 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:185px;
  width:240px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u69876_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u69876_ann {
  border-width:0px;
  position:absolute;
  left:253px;
  top:181px;
  width:1px;
  height:1px;
}
#u69877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69877 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:185px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u69877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u69879 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:75px;
  width:240px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u69879_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u69879_ann {
  border-width:0px;
  position:absolute;
  left:513px;
  top:71px;
  width:1px;
  height:1px;
}
#u69880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69880 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:75px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u69880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u69882 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:75px;
  width:240px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u69882_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u69882_ann {
  border-width:0px;
  position:absolute;
  left:253px;
  top:71px;
  width:1px;
  height:1px;
}
#u69883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69883 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:75px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u69883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u69885 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:20px;
  width:240px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u69885_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u69885_ann {
  border-width:0px;
  position:absolute;
  left:513px;
  top:16px;
  width:1px;
  height:1px;
}
#u69886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69886 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:20px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u69886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u69888 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:185px;
  width:240px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u69888_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u69888_ann {
  border-width:0px;
  position:absolute;
  left:513px;
  top:181px;
  width:1px;
  height:1px;
}
#u69889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69889 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:185px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u69889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u69891 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:242px;
  width:240px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u69891_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u69891_ann {
  border-width:0px;
  position:absolute;
  left:253px;
  top:238px;
  width:1px;
  height:1px;
}
#u69892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69892 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:242px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u69892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u69894 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:131px;
  width:240px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u69894_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u69894_ann {
  border-width:0px;
  position:absolute;
  left:253px;
  top:127px;
  width:1px;
  height:1px;
}
#u69895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69895 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:131px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u69895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u69897 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:131px;
  width:240px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u69897_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u69897_ann {
  border-width:0px;
  position:absolute;
  left:513px;
  top:127px;
  width:1px;
  height:1px;
}
#u69898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u69898 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:131px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u69898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u69899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:61px;
}
#u69900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:369px;
  width:560px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u69900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u69903 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:384px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u69903_img.mouseOver {
}
#u69903.mouseOver {
  opacity:0.8;
}
#u69903_img.mouseDown {
}
#u69903.mouseDown {
  opacity:1;
}
#u69903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u69904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u69904 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:384px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u69904_img.mouseOver {
}
#u69904.mouseOver {
  opacity:0.8;
}
#u69904_img.mouseDown {
}
#u69904.mouseDown {
  opacity:1;
}
#u69904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
