body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u71346 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1392px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u71346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u71349 {
  position:fixed;
  left:0px;
  top:0px;
}
#u71349_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u71349_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71350_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u71350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u71350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u71351 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u71351_img.mouseOver {
}
#u71351.mouseOver {
}
#u71351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u71352 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u71352_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u71352_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71353 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71353_img.mouseOver {
}
#u71353.mouseOver {
}
#u71353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u71354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71354_img.mouseOver {
}
#u71354.mouseOver {
}
#u71354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u71355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u71355 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u71355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u71356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u71356 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u71356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u71357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u71357 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u71357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u71358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u71358 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u71358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u71359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1148px;
}
#u71359 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:225px;
  width:1260px;
  height:1147px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u71359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
}
#u71360 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u71360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:96px;
}
#u71361 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:1260px;
  height:95px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u71361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u71362 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:150px;
  width:80px;
  height:35px;
  color:#999999;
}
#u71362_img.mouseOver {
}
#u71362.mouseOver {
}
#u71362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u71363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u71363 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:150px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u71363_img.mouseOver {
}
#u71363.mouseOver {
  opacity:0.8;
}
#u71363_img.mouseDown {
}
#u71363.mouseDown {
  opacity:1;
}
#u71363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u71364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u71365 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u71365_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u71365_ann {
  border-width:0px;
  position:absolute;
  left:403px;
  top:146px;
  width:1px;
  height:1px;
}
#u71366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u71366 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u71367 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:247px;
  width:1220px;
  height:145px;
}
#u71368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:46px;
}
#u71368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u71369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:46px;
}
#u71369 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:200px;
  height:45px;
  text-align:left;
}
#u71369_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:183px;
  word-wrap:break-word;
}
#u71371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u71371 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:120px;
  height:45px;
  text-align:left;
}
#u71371_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:103px;
  word-wrap:break-word;
}
#u71373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u71373 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:160px;
  height:45px;
  text-align:left;
}
#u71373_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u71375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:46px;
}
#u71375 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:0px;
  width:140px;
  height:45px;
  text-align:left;
}
#u71375_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:123px;
  word-wrap:break-word;
}
#u71377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:46px;
}
#u71377 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:0px;
  width:210px;
  height:45px;
  text-align:left;
}
#u71377_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:193px;
  word-wrap:break-word;
}
#u71379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u71379 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:0px;
  width:160px;
  height:45px;
  text-align:left;
}
#u71379_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:143px;
  word-wrap:break-word;
}
#u71381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
}
#u71381 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:0px;
  width:180px;
  height:45px;
  text-align:left;
}
#u71381_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:163px;
  word-wrap:break-word;
}
#u71383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u71383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u71384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u71384 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:45px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u71384_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u71386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u71386 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:45px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71386_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
#u71387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u71387 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:45px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71387_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u71388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u71388 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:45px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71388_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u71389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:51px;
}
#u71389 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:45px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71389_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u71390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u71390 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:45px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71390_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u71391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:51px;
}
#u71391 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:45px;
  width:180px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71391_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:163px;
  word-wrap:break-word;
}
#u71392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u71392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u71393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u71393 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:95px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u71393_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u71395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
#u71395 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:95px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71395_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
#u71396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u71396 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:95px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71396_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u71397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u71397 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:95px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71397_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u71398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:51px;
}
#u71398 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:95px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71398_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
#u71399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u71399 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:95px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71399_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
#u71400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:51px;
}
#u71400 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:95px;
  width:180px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u71400_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:163px;
  word-wrap:break-word;
}
.u71402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1220px;
  height:50px;
}
.u71403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
.u71403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.u71403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
.u71404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
.u71404 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u71404_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
.u71406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
}
.u71406 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u71406_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:103px;
  word-wrap:break-word;
}
.u71407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
.u71407 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u71407_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
.u71408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
.u71408 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u71408_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
.u71409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:51px;
}
.u71409 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:0px;
  width:210px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u71409_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:193px;
  word-wrap:break-word;
}
.u71410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
.u71410 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u71410_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:143px;
  word-wrap:break-word;
}
.u71411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:51px;
}
.u71411 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:0px;
  width:180px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u71411_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:163px;
  word-wrap:break-word;
}
#u71401-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:49px;
}
#u71401-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1220px;
  height:49px;
}
#u71401-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1220px;
  height:49px;
}
#u71401-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:1220px;
  height:49px;
}
#u71401-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:1220px;
  height:49px;
}
#u71401-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:1220px;
  height:49px;
}
#u71401-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:1220px;
  height:49px;
}
#u71401-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:1220px;
  height:49px;
}
#u71401-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:1220px;
  height:49px;
}
#u71401-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:441px;
  width:1220px;
  height:49px;
}
#u71401-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:1220px;
  height:49px;
}
#u71401-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:1220px;
  height:49px;
}
#u71401-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:588px;
  width:1220px;
  height:49px;
}
#u71401-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:1220px;
  height:49px;
}
#u71401-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:1220px;
  height:49px;
}
#u71401-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:735px;
  width:1220px;
  height:49px;
}
#u71401-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:1220px;
  height:49px;
}
#u71401-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:833px;
  width:1220px;
  height:49px;
}
#u71401 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:392px;
  width:1220px;
  height:882px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u71413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u71414 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:1292px;
  width:35px;
  height:35px;
  color:#999999;
}
#u71414_img.mouseOver {
}
#u71414.mouseOver {
}
#u71414_img.selected {
}
#u71414.selected {
}
#u71414_img.disabled {
}
#u71414.disabled {
}
#u71414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u71415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u71415 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1292px;
  width:35px;
  height:35px;
  color:#999999;
}
#u71415_img.mouseOver {
}
#u71415.mouseOver {
}
#u71415_img.selected {
}
#u71415.selected {
}
#u71415_img.disabled {
}
#u71415.disabled {
}
#u71415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u71416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u71416 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:1292px;
  width:35px;
  height:35px;
  color:#999999;
}
#u71416_img.mouseOver {
}
#u71416.mouseOver {
}
#u71416_img.selected {
}
#u71416.selected {
}
#u71416_img.disabled {
}
#u71416.disabled {
}
#u71416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u71417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u71417 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:1292px;
  width:35px;
  height:35px;
  color:#999999;
}
#u71417_img.mouseOver {
}
#u71417.mouseOver {
}
#u71417_img.selected {
}
#u71417.selected {
}
#u71417_img.disabled {
}
#u71417.disabled {
}
#u71417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u71418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u71418 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:1292px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u71418_img.mouseOver {
}
#u71418.mouseOver {
}
#u71418_img.selected {
}
#u71418.selected {
}
#u71418_img.disabled {
}
#u71418.disabled {
}
#u71418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u71419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u71419 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:1292px;
  width:35px;
  height:35px;
  color:#999999;
}
#u71419_img.mouseOver {
}
#u71419.mouseOver {
}
#u71419_img.selected {
}
#u71419.selected {
}
#u71419_img.disabled {
}
#u71419.disabled {
}
#u71419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u71420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u71420 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:1292px;
  width:35px;
  height:35px;
  color:#999999;
}
#u71420_img.mouseOver {
}
#u71420.mouseOver {
}
#u71420_img.selected {
}
#u71420.selected {
}
#u71420_img.disabled {
}
#u71420.disabled {
}
#u71420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u71421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u71421 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:1292px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u71421_img.mouseOver {
}
#u71421.mouseOver {
}
#u71421_img.selected {
}
#u71421.selected {
}
#u71421_img.disabled {
}
#u71421.disabled {
}
#u71421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u71422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u71422 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:1292px;
  width:35px;
  height:35px;
  color:#999999;
}
#u71422_img.mouseOver {
}
#u71422.mouseOver {
}
#u71422_img.selected {
}
#u71422.selected {
}
#u71422_img.disabled {
}
#u71422.disabled {
}
#u71422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u71423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u71423 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:1292px;
  width:80px;
  height:35px;
}
#u71423_img.mouseOver {
}
#u71423.mouseOver {
}
#u71423_img.selected {
}
#u71423.selected {
}
#u71423_img.disabled {
}
#u71423.disabled {
}
#u71423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u71424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u71424 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1292px;
  width:80px;
  height:35px;
  color:#999999;
}
#u71424_img.mouseOver {
}
#u71424.mouseOver {
}
#u71424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u71425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u71425 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1292px;
  width:80px;
  height:35px;
  color:#999999;
}
#u71425_img.mouseOver {
}
#u71425.mouseOver {
}
#u71425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u71426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u71426 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1292px;
  width:120px;
  height:35px;
}
#u71426_img.mouseOver {
}
#u71426.mouseOver {
}
#u71426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u71426_ann {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1288px;
  width:1px;
  height:1px;
}
#u71427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u71428 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u71428_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u71428_ann {
  border-width:0px;
  position:absolute;
  left:593px;
  top:146px;
  width:1px;
  height:1px;
}
#u71429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u71429 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u71430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u71430 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u71430_img.mouseOver {
}
#u71430.mouseOver {
}
#u71430_img.selected {
}
#u71430.selected {
}
#u71430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u71431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u71431 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u71431_img.mouseOver {
}
#u71431.mouseOver {
}
#u71431_img.selected {
}
#u71431.selected {
}
#u71431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u71432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:51px;
}
#u71433 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:70px;
  width:229px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u71433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:229px;
  word-wrap:break-word;
}
#u71433_ann {
  border-width:0px;
  position:absolute;
  left:993px;
  top:66px;
  width:1px;
  height:1px;
}
#u71435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:51px;
}
#u71435 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:70px;
  width:229px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u71435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:229px;
  word-wrap:break-word;
}
#u71435_ann {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:66px;
  width:1px;
  height:1px;
}
#u71437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:51px;
}
#u71437 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:70px;
  width:20px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u71437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:20px;
  word-wrap:break-word;
}
#u71438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:72px;
}
#u71438 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:120px;
  width:256px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u71438_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u71439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u71440 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u71440_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u71440_ann {
  border-width:0px;
  position:absolute;
  left:783px;
  top:146px;
  width:1px;
  height:1px;
}
#u71441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u71441 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u71442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u71443 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u71443_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u71443_ann {
  border-width:0px;
  position:absolute;
  left:213px;
  top:146px;
  width:1px;
  height:1px;
}
#u71444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u71444 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u71444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
