body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50189 {
  position:fixed;
  left:0px;
  top:0px;
}
#u50189_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u50189_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50190_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u50190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u50190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u50191 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u50191_img.mouseOver {
}
#u50191.mouseOver {
}
#u50191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u50192 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u50192_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u50192_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u50193 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u50193_img.mouseOver {
}
#u50193.mouseOver {
}
#u50193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u50194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u50194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u50194_img.mouseOver {
}
#u50194.mouseOver {
}
#u50194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u50195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u50195 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u50195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u50196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u50196 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u50196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u50197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u50197 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u50197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u50198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u50198 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u50198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u50199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:96px;
}
#u50199 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:95px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50200 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:100px;
  width:80px;
  height:35px;
  color:#999999;
}
#u50200_img.mouseOver {
}
#u50200.mouseOver {
}
#u50200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u50201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50201 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:100px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u50201_img.mouseOver {
}
#u50201.mouseOver {
  opacity:0.8;
}
#u50201_img.mouseDown {
}
#u50201.mouseDown {
  opacity:1;
}
#u50201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u50202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1210px;
}
#u50202 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:175px;
  width:1260px;
  height:1209px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50203 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:196px;
  width:80px;
  height:35px;
  color:#999999;
}
#u50203_img.mouseOver {
}
#u50203.mouseOver {
}
#u50203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u50203_ann {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:192px;
  width:1px;
  height:1px;
}
#u50204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50205 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u50205_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50205_ann {
  border-width:0px;
  position:absolute;
  left:593px;
  top:96px;
  width:1px;
  height:1px;
}
#u50206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50206 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u50206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u50207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:36px;
}
#u50207 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:196px;
  width:793px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u50207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:789px;
  word-wrap:break-word;
}
#u50209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u50209 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1404px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u50209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u50211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50212 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u50212_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50212_ann {
  border-width:0px;
  position:absolute;
  left:403px;
  top:96px;
  width:1px;
  height:1px;
}
#u50213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50213 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u50213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u50215 {
  position:fixed;
  right:20px;
  bottom:20px;
}
#u50215_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  background-image:none;
}
#u50215_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50216_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u50216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u50216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u50217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50217_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u50218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u50218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:500px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u50218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:480px;
  word-wrap:break-word;
}
#u50219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u50221 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:358px;
  height:10px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u50221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:11px;
}
#u50222 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:107px;
  height:10px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u50222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u50223 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:116px;
  width:50px;
  height:20px;
  font-size:12px;
  text-align:center;
  line-height:16px;
}
#u50223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u50215_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  visibility:hidden;
  background-image:none;
}
#u50215_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50224_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u50224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u50224_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u50225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u50225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50225_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u50226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u50226 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u50226_img.mouseOver {
}
#u50226.mouseOver {
}
#u50226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u50227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u50228 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:125px;
  width:140px;
  height:40px;
  color:#FFFFFF;
  line-height:20px;
}
#u50228_img.mouseOver {
}
#u50228.mouseOver {
  opacity:0.8;
}
#u50228_img.mouseDown {
}
#u50228.mouseDown {
  opacity:1;
}
#u50228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u50229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u50229 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:125px;
  width:140px;
  height:40px;
}
#u50229_img.mouseOver {
}
#u50229.mouseOver {
  opacity:0.8;
}
#u50229_img.mouseDown {
}
#u50229.mouseDown {
  opacity:1;
}
#u50229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u50230 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:251px;
  width:1220px;
  height:95px;
}
#u50231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u50231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50231_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:186px;
  word-wrap:break-word;
}
#u50232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u50232 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50232_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:186px;
  word-wrap:break-word;
}
#u50233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u50233 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50233_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:181px;
  word-wrap:break-word;
}
#u50234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u50234 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50234_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:181px;
  word-wrap:break-word;
}
#u50235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u50235 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50235_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:181px;
  word-wrap:break-word;
}
#u50236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u50236 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:0px;
  width:205px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50236_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:183px;
  word-wrap:break-word;
}
#u50237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u50237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50237_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
#u50239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u50239 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:45px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50239_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
#u50241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u50241 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:45px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50241_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:181px;
  word-wrap:break-word;
}
#u50242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u50242 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:45px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50242_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:181px;
  word-wrap:break-word;
}
#u50243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u50243 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:45px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50243_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:181px;
  word-wrap:break-word;
}
#u50244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:51px;
}
#u50244 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:45px;
  width:205px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50244_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u50246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50247 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50247_img.mouseOver {
}
#u50247.mouseOver {
}
#u50247_img.selected {
}
#u50247.selected {
}
#u50247_img.disabled {
}
#u50247.disabled {
}
#u50247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50248 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50248_img.mouseOver {
}
#u50248.mouseOver {
}
#u50248_img.selected {
}
#u50248.selected {
}
#u50248_img.disabled {
}
#u50248.disabled {
}
#u50248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50249 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50249_img.mouseOver {
}
#u50249.mouseOver {
}
#u50249_img.selected {
}
#u50249.selected {
}
#u50249_img.disabled {
}
#u50249.disabled {
}
#u50249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50250 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50250_img.mouseOver {
}
#u50250.mouseOver {
}
#u50250_img.selected {
}
#u50250.selected {
}
#u50250_img.disabled {
}
#u50250.disabled {
}
#u50250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50251 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1298px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u50251_img.mouseOver {
}
#u50251.mouseOver {
}
#u50251_img.selected {
}
#u50251.selected {
}
#u50251_img.disabled {
}
#u50251.disabled {
}
#u50251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u50252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50252 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50252_img.mouseOver {
}
#u50252.mouseOver {
}
#u50252_img.selected {
}
#u50252.selected {
}
#u50252_img.disabled {
}
#u50252.disabled {
}
#u50252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50253 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50253_img.mouseOver {
}
#u50253.mouseOver {
}
#u50253_img.selected {
}
#u50253.selected {
}
#u50253_img.disabled {
}
#u50253.disabled {
}
#u50253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50254 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:1298px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u50254_img.mouseOver {
}
#u50254.mouseOver {
}
#u50254_img.selected {
}
#u50254.selected {
}
#u50254_img.disabled {
}
#u50254.disabled {
}
#u50254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u50255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50255 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50255_img.mouseOver {
}
#u50255.mouseOver {
}
#u50255_img.selected {
}
#u50255.selected {
}
#u50255_img.disabled {
}
#u50255.disabled {
}
#u50255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50256 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:1298px;
  width:80px;
  height:35px;
}
#u50256_img.mouseOver {
}
#u50256.mouseOver {
}
#u50256_img.selected {
}
#u50256.selected {
}
#u50256_img.disabled {
}
#u50256.disabled {
}
#u50256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
.u50258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1220px;
  height:50px;
}
.u50259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
.u50259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u50259_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
.u50261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
.u50261 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u50261_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
.u50263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
.u50263 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:0px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u50263_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:181px;
  word-wrap:break-word;
}
.u50264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
.u50264 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:0px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u50264_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:181px;
  word-wrap:break-word;
}
.u50265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
.u50265 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:0px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u50265_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:181px;
  word-wrap:break-word;
}
.u50266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:51px;
}
.u50266 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:0px;
  width:205px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u50266_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u50257-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:49px;
}
#u50257-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1220px;
  height:49px;
}
#u50257-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1220px;
  height:49px;
}
#u50257-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:1220px;
  height:49px;
}
#u50257-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:1220px;
  height:49px;
}
#u50257-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:1220px;
  height:49px;
}
#u50257-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:1220px;
  height:49px;
}
#u50257-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:1220px;
  height:49px;
}
#u50257-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:1220px;
  height:49px;
}
#u50257-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:441px;
  width:1220px;
  height:49px;
}
#u50257-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:1220px;
  height:49px;
}
#u50257-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:1220px;
  height:49px;
}
#u50257-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:588px;
  width:1220px;
  height:49px;
}
#u50257-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:1220px;
  height:49px;
}
#u50257-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:1220px;
  height:49px;
}
#u50257-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:735px;
  width:1220px;
  height:49px;
}
#u50257-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:1220px;
  height:49px;
}
#u50257-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:833px;
  width:1220px;
  height:49px;
}
#u50257-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:882px;
  width:1220px;
  height:49px;
}
#u50257 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:346px;
  width:1220px;
  height:931px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u50267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50268 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u50268_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50268_ann {
  border-width:0px;
  position:absolute;
  left:213px;
  top:96px;
  width:1px;
  height:1px;
}
#u50269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50269 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u50269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
