body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u61781 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1657px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u61781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u61783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1488px;
}
#u61783 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:150px;
  width:1260px;
  height:1487px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u61783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u61784 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:160px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u61784_img.selected {
}
#u61784.selected {
}
#u61784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u61785 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:209px;
  width:1200px;
  height:120px;
}
#u61786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u61786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u61787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61787 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u61787_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61789 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u61789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u61790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61790 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u61790_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u61791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u61792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61792 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u61792_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61793 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u61793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u61794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61794 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u61794_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u61796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u61797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61797 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u61797_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61798 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u61798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61799 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u61799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61801 {
  position:fixed;
  left:0px;
  top:0px;
}
#u61801_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u61801_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61802_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u61802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u61802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u61803 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u61803_img.mouseOver {
}
#u61803.mouseOver {
}
#u61803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u61804 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u61804_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u61804_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u61805 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u61805_img.mouseOver {
}
#u61805.mouseOver {
}
#u61805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u61806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u61806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u61806_img.mouseOver {
}
#u61806.mouseOver {
}
#u61806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u61807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u61807 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u61807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u61808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u61808 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u61808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u61809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u61809 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u61809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u61810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u61810 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u61810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u61811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:71px;
}
#u61811 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u61811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:41px;
}
#u61812 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:85px;
  width:333px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u61812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:333px;
  word-wrap:break-word;
}
#u61813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:41px;
}
#u61813 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:85px;
  width:260px;
  height:40px;
  text-align:left;
  line-height:28px;
}
#u61813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u61815 {
  position:fixed;
  left:50%;
  margin-left:-280.5px;
  top:50%;
  margin-top:-200.5px;
}
#u61815_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:561px;
  height:401px;
  background-image:none;
}
#u61815_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61816_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:571px;
  height:411px;
}
#u61816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:400px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u61816_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:520px;
  word-wrap:break-word;
}
#u61817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:51px;
}
#u61817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u61817_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:520px;
  word-wrap:break-word;
}
#u61818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u61818 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u61818_img.mouseOver {
}
#u61818.mouseOver {
}
#u61818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u61819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:61px;
}
#u61820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:560px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u61820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u61823 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:355px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u61823_img.mouseOver {
}
#u61823.mouseOver {
  opacity:0.8;
}
#u61823_img.mouseDown {
}
#u61823.mouseDown {
  opacity:1;
}
#u61823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u61824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u61824 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:355px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u61824_img.mouseOver {
}
#u61824.mouseOver {
  opacity:0.8;
}
#u61824_img.mouseDown {
}
#u61824.mouseDown {
  opacity:1;
}
#u61824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u61825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:201px;
}
#u61826 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:490px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u61826_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:470px;
  word-wrap:break-word;
}
#u61827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:41px;
}
#u61827 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:270px;
  width:490px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:28px;
}
#u61827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:470px;
  word-wrap:break-word;
}
#u61828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:31px;
}
#u61828 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:490px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u61828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u61829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u61829 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:529px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u61829_img.selected {
}
#u61829.selected {
}
#u61829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u61830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:972px;
}
#u61831 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:598px;
  width:1px;
  height:971px;
}
#u61831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u61832 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:588px;
  width:10px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u61832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61833_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u61833 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:630px;
  width:10px;
  height:10px;
  color:#999999;
}
#u61833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61834_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u61834 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:749px;
  width:10px;
  height:10px;
  color:#999999;
}
#u61834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61835_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u61835 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:869px;
  width:10px;
  height:10px;
  color:#999999;
}
#u61835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61836_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u61836 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:989px;
  width:10px;
  height:10px;
  color:#999999;
}
#u61836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61837_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u61837 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1109px;
  width:10px;
  height:10px;
  color:#999999;
}
#u61837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61838_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u61838 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1229px;
  width:10px;
  height:10px;
  color:#999999;
}
#u61838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61839_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u61839 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1349px;
  width:10px;
  height:10px;
  color:#999999;
}
#u61839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61840_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:13px;
  height:13px;
}
#u61840 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1469px;
  width:10px;
  height:10px;
  color:#999999;
}
#u61840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u61841 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:582px;
  width:75px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:32px;
}
#u61841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  word-wrap:break-word;
}
#u61842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u61842 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:339px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u61842_img.selected {
}
#u61842.selected {
}
#u61842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u61843 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:389px;
  width:1200px;
  height:120px;
}
#u61844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u61844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u61845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61845 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u61845_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61846 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u61846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u61847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61847 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u61847_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u61848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u61849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61849 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u61849_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61850 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u61850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u61851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61851 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u61851_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u61852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u61853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61853 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u61853_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u61854 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u61854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u61855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u61855 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u61855_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u61856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u61857 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:629px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u61857_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u61858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u61858 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:629px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u61858_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u61859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u61859 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:629px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u61859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u61860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u61861 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:869px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u61861_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u61862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u61862 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:869px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u61862_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u61863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u61863 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:869px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u61863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u61864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u61865 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:989px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u61865_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u61866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u61866 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:989px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u61866_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u61867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u61867 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:989px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u61867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u61868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u61869 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1109px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u61869_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u61870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u61870 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1109px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u61870_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u61871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u61871 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1109px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u61871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u61872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u61873 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1229px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u61873_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u61874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u61874 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1229px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u61874_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u61875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u61875 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1229px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u61875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u61876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u61877 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1349px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u61877_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u61878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u61878 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1349px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u61878_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u61879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u61879 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1349px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u61879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u61880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u61881 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1469px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u61881_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u61882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u61882 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1469px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u61882_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u61883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u61883 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1469px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u61883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
#u61884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u61884 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:88px;
  width:110px;
  height:35px;
  color:#999999;
}
#u61884_img.mouseOver {
}
#u61884.mouseOver {
}
#u61884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u61884_ann {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:84px;
  width:1px;
  height:1px;
}
#u61885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:101px;
}
#u61886 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:749px;
  width:1171px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u61886_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1149px;
  word-wrap:break-word;
}
#u61887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:51px;
}
#u61887 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:749px;
  width:292px;
  height:50px;
  text-align:left;
  line-height:28px;
}
#u61887_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u61888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:51px;
}
#u61888 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:749px;
  width:152px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u61888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:132px;
  word-wrap:break-word;
}
