body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48901 {
  position:fixed;
  left:0px;
  top:0px;
}
#u48901_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u48901_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48902_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u48902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u48902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u48903 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u48903_img.mouseOver {
}
#u48903.mouseOver {
}
#u48903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u48904 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u48904_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u48904_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u48905 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u48905_img.mouseOver {
}
#u48905.mouseOver {
}
#u48905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u48906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u48906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u48906_img.mouseOver {
}
#u48906.mouseOver {
}
#u48906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u48907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u48907 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u48907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u48908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u48908 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u48908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u48909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u48909 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u48909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u48910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u48910 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u48910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u48911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:96px;
}
#u48911 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:1260px;
  height:95px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
}
#u48912 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u48913 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:150px;
  width:80px;
  height:35px;
  color:#999999;
}
#u48913_img.mouseOver {
}
#u48913.mouseOver {
}
#u48913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u48914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u48914 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:150px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u48914_img.mouseOver {
}
#u48914.mouseOver {
  opacity:0.8;
}
#u48914_img.mouseDown {
}
#u48914.mouseDown {
  opacity:1;
}
#u48914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u48915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u48916 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u48916_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u48916_ann {
  border-width:0px;
  position:absolute;
  left:978px;
  top:146px;
  width:1px;
  height:1px;
}
#u48917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u48917 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u48917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u48918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u48919 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u48919_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u48919_ann {
  border-width:0px;
  position:absolute;
  left:788px;
  top:146px;
  width:1px;
  height:1px;
}
#u48920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u48920 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u48920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u48921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:401px;
}
#u48921 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:225px;
  width:1260px;
  height:400px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1201px;
}
#u48922 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:635px;
  width:1260px;
  height:1200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u48923 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:656px;
  width:80px;
  height:35px;
  color:#999999;
}
#u48923_img.mouseOver {
}
#u48923.mouseOver {
}
#u48923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u48923_ann {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:652px;
  width:1px;
  height:1px;
}
#u48924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:36px;
}
#u48924 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:656px;
  width:1040px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u48924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:1036px;
  word-wrap:break-word;
}
#u48926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u48926 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1857px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u48926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u48929 {
  position:fixed;
  right:20px;
  bottom:20px;
}
#u48929_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  background-image:none;
}
#u48929_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48930_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u48930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u48930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u48931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48931_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u48932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u48932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:500px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u48932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:480px;
  word-wrap:break-word;
}
#u48933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u48935 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:358px;
  height:10px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u48935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:11px;
}
#u48936 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:107px;
  height:10px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u48936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u48937 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:116px;
  width:50px;
  height:20px;
  font-size:12px;
  text-align:center;
  line-height:16px;
}
#u48937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u48929_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  visibility:hidden;
  background-image:none;
}
#u48929_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48938_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u48938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u48938_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u48939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u48939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u48939_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u48940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u48940 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u48940_img.mouseOver {
}
#u48940.mouseOver {
}
#u48940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u48941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u48942 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:125px;
  width:140px;
  height:40px;
  color:#FFFFFF;
  line-height:20px;
}
#u48942_img.mouseOver {
}
#u48942.mouseOver {
  opacity:0.8;
}
#u48942_img.mouseDown {
}
#u48942.mouseDown {
  opacity:1;
}
#u48942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u48943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u48943 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:125px;
  width:140px;
  height:40px;
}
#u48943_img.mouseOver {
}
#u48943.mouseOver {
  opacity:0.8;
}
#u48943_img.mouseDown {
}
#u48943.mouseDown {
  opacity:1;
}
#u48943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u48944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u48944 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u48944_img.mouseOver {
}
#u48944.mouseOver {
}
#u48944_img.selected {
}
#u48944.selected {
}
#u48944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u48945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u48945 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:150px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:32px;
}
#u48945_img.mouseOver {
}
#u48945.mouseOver {
}
#u48945_img.selected {
}
#u48945.selected {
}
#u48945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:150px;
  word-wrap:break-word;
}
#u48947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u48948 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:1757px;
  width:35px;
  height:35px;
  color:#999999;
}
#u48948_img.mouseOver {
}
#u48948.mouseOver {
}
#u48948_img.selected {
}
#u48948.selected {
}
#u48948_img.disabled {
}
#u48948.disabled {
}
#u48948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u48949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u48949 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:1757px;
  width:35px;
  height:35px;
  color:#999999;
}
#u48949_img.mouseOver {
}
#u48949.mouseOver {
}
#u48949_img.selected {
}
#u48949.selected {
}
#u48949_img.disabled {
}
#u48949.disabled {
}
#u48949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u48950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u48950 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:1757px;
  width:35px;
  height:35px;
  color:#999999;
}
#u48950_img.mouseOver {
}
#u48950.mouseOver {
}
#u48950_img.selected {
}
#u48950.selected {
}
#u48950_img.disabled {
}
#u48950.disabled {
}
#u48950_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u48951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u48951 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:1757px;
  width:35px;
  height:35px;
  color:#999999;
}
#u48951_img.mouseOver {
}
#u48951.mouseOver {
}
#u48951_img.selected {
}
#u48951.selected {
}
#u48951_img.disabled {
}
#u48951.disabled {
}
#u48951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u48952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u48952 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1757px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u48952_img.mouseOver {
}
#u48952.mouseOver {
}
#u48952_img.selected {
}
#u48952.selected {
}
#u48952_img.disabled {
}
#u48952.disabled {
}
#u48952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u48953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u48953 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:1757px;
  width:35px;
  height:35px;
  color:#999999;
}
#u48953_img.mouseOver {
}
#u48953.mouseOver {
}
#u48953_img.selected {
}
#u48953.selected {
}
#u48953_img.disabled {
}
#u48953.disabled {
}
#u48953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u48954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u48954 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:1757px;
  width:35px;
  height:35px;
  color:#999999;
}
#u48954_img.mouseOver {
}
#u48954.mouseOver {
}
#u48954_img.selected {
}
#u48954.selected {
}
#u48954_img.disabled {
}
#u48954.disabled {
}
#u48954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u48955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u48955 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:1757px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u48955_img.mouseOver {
}
#u48955.mouseOver {
}
#u48955_img.selected {
}
#u48955.selected {
}
#u48955_img.disabled {
}
#u48955.disabled {
}
#u48955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u48956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u48956 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:1757px;
  width:35px;
  height:35px;
  color:#999999;
}
#u48956_img.mouseOver {
}
#u48956.mouseOver {
}
#u48956_img.selected {
}
#u48956.selected {
}
#u48956_img.disabled {
}
#u48956.disabled {
}
#u48956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u48957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u48957 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:1757px;
  width:80px;
  height:35px;
}
#u48957_img.mouseOver {
}
#u48957.mouseOver {
}
#u48957_img.selected {
}
#u48957.selected {
}
#u48957_img.disabled {
}
#u48957.disabled {
}
#u48957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
.u48959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1220px;
  height:50px;
}
.u48960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u48960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u48960_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
.u48961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u48961 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u48961_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
.u48962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u48962 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u48962_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
.u48964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u48964 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u48964_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
.u48966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u48966 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u48966_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
.u48968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
}
.u48968 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:0px;
  width:123px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u48968_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:101px;
  word-wrap:break-word;
}
.u48970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u48970 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u48970_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
.u48972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u48972 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u48972_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
.u48974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
.u48974 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:0px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u48974_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
.u48976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:51px;
}
.u48976 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:0px;
  width:121px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u48976_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:99px;
  word-wrap:break-word;
}
#u48958-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:49px;
}
#u48958-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1220px;
  height:49px;
}
#u48958-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1220px;
  height:49px;
}
#u48958-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:1220px;
  height:49px;
}
#u48958-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:1220px;
  height:49px;
}
#u48958-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:1220px;
  height:49px;
}
#u48958-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:1220px;
  height:49px;
}
#u48958-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:1220px;
  height:49px;
}
#u48958-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:1220px;
  height:49px;
}
#u48958-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:441px;
  width:1220px;
  height:49px;
}
#u48958-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:1220px;
  height:49px;
}
#u48958-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:1220px;
  height:49px;
}
#u48958-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:588px;
  width:1220px;
  height:49px;
}
#u48958-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:1220px;
  height:49px;
}
#u48958-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:1220px;
  height:49px;
}
#u48958-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:735px;
  width:1220px;
  height:49px;
}
#u48958-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:1220px;
  height:49px;
}
#u48958-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:833px;
  width:1220px;
  height:49px;
}
#u48958-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:882px;
  width:1220px;
  height:49px;
}
#u48958 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:806px;
  width:1220px;
  height:931px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u48978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48979-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48979-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48979-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48979-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48979-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48979-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48979-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48979 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:94px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u48980-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48980 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:245px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u48981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:361px;
}
#u48981 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:245px;
  width:1220px;
  height:360px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u48981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:1216px;
  word-wrap:break-word;
}
#u48982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u48983 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48983_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u48983_ann {
  border-width:0px;
  position:absolute;
  left:408px;
  top:146px;
  width:1px;
  height:1px;
}
#u48984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u48984 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u48984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u48985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u48986 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48986_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u48986_ann {
  border-width:0px;
  position:absolute;
  left:603px;
  top:146px;
  width:1px;
  height:1px;
}
#u48987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u48987 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u48987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u48988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u48988 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:656px;
  width:80px;
  height:35px;
  color:#999999;
}
#u48988_img.mouseOver {
}
#u48988.mouseOver {
}
#u48988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u48988_ann {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:652px;
  width:1px;
  height:1px;
}
#u48989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u48990 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:150px;
  width:180px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48990_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u48990_ann {
  border-width:0px;
  position:absolute;
  left:213px;
  top:146px;
  width:1px;
  height:1px;
}
#u48991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u48991 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:150px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u48991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u48992 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:711px;
  width:1220px;
  height:95px;
}
#u48993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u48993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48993_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u48994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u48994 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:0px;
  width:122px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48994_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u48995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u48995 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:0px;
  width:122px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48995_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u48996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u48996 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:122px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48996_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u48997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u48997 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:122px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48997_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u48998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:46px;
}
#u48998 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:0px;
  width:123px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48998_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:101px;
  word-wrap:break-word;
}
#u48999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u48999 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:0px;
  width:122px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u48999_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u49000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u49000 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:0px;
  width:122px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u49000_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u49001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u49001 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:0px;
  width:122px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u49001_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u49002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:46px;
}
#u49002 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:0px;
  width:121px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u49002_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:99px;
  word-wrap:break-word;
}
#u49003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u49003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u49003_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:105px;
  word-wrap:break-word;
}
#u49004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u49004 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u49004_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u49005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u49005 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u49005_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u49007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u49007 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u49007_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u49009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u49009 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u49009_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u49011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
}
#u49011 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:45px;
  width:123px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u49011_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:101px;
  word-wrap:break-word;
}
#u49013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u49013 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u49013_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u49015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u49015 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u49015_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u49017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u49017 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:45px;
  width:122px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u49017_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u49019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:51px;
}
#u49019 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:45px;
  width:121px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u49019_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:99px;
  word-wrap:break-word;
}
