body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50830 {
  position:fixed;
  left:0px;
  top:0px;
}
#u50830_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u50830_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50831_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u50831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u50831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u50832 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u50832_img.mouseOver {
}
#u50832.mouseOver {
}
#u50832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u50833 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u50833_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u50833_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u50834 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u50834_img.mouseOver {
}
#u50834.mouseOver {
}
#u50834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u50835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u50835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u50835_img.mouseOver {
}
#u50835.mouseOver {
}
#u50835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u50836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u50836 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u50836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u50837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u50837 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u50837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u50838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u50838 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u50838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u50839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u50839 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u50839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u50840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:96px;
}
#u50840 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:95px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50841 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:100px;
  width:80px;
  height:35px;
  color:#999999;
}
#u50841_img.mouseOver {
}
#u50841.mouseOver {
}
#u50841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u50842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50842 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:100px;
  width:80px;
  height:35px;
  color:#FFFFFF;
  line-height:20px;
}
#u50842_img.mouseOver {
}
#u50842.mouseOver {
  opacity:0.8;
}
#u50842_img.mouseDown {
}
#u50842.mouseDown {
  opacity:1;
}
#u50842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u50843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1210px;
}
#u50843 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:175px;
  width:1260px;
  height:1209px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50844 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:196px;
  width:80px;
  height:35px;
  color:#999999;
}
#u50844_img.mouseOver {
}
#u50844.mouseOver {
}
#u50844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u50844_ann {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:192px;
  width:1px;
  height:1px;
}
#u50845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50846 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u50846_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50846_ann {
  border-width:0px;
  position:absolute;
  left:593px;
  top:96px;
  width:1px;
  height:1px;
}
#u50847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50847 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u50847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u50848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:36px;
}
#u50848 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:196px;
  width:793px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u50848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:789px;
  word-wrap:break-word;
}
#u50850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u50850 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1404px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u50850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u50852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50853 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u50853_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50853_ann {
  border-width:0px;
  position:absolute;
  left:403px;
  top:96px;
  width:1px;
  height:1px;
}
#u50854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50854 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u50854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u50856 {
  position:fixed;
  right:20px;
  bottom:20px;
}
#u50856_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  background-image:none;
}
#u50856_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50857_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u50857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u50857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u50858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50858_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u50859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u50859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:500px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u50859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:480px;
  word-wrap:break-word;
}
#u50860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
}
#u50862 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:358px;
  height:10px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u50862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:11px;
}
#u50863 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:121px;
  width:107px;
  height:10px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u50863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u50864 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:116px;
  width:50px;
  height:20px;
  font-size:12px;
  text-align:center;
  line-height:16px;
}
#u50864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u50856_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:501px;
  height:251px;
  visibility:hidden;
  background-image:none;
}
#u50856_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50865_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:511px;
  height:261px;
}
#u50865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:250px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u50865_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u50866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u50866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u50866_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:460px;
  word-wrap:break-word;
}
#u50867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u50867 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u50867_img.mouseOver {
}
#u50867.mouseOver {
}
#u50867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u50868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u50869 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:125px;
  width:140px;
  height:40px;
  color:#FFFFFF;
  line-height:20px;
}
#u50869_img.mouseOver {
}
#u50869.mouseOver {
  opacity:0.8;
}
#u50869_img.mouseDown {
}
#u50869.mouseDown {
  opacity:1;
}
#u50869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u50870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u50870 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:125px;
  width:140px;
  height:40px;
}
#u50870_img.mouseOver {
}
#u50870.mouseOver {
  opacity:0.8;
}
#u50870_img.mouseDown {
}
#u50870.mouseDown {
  opacity:1;
}
#u50870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u50871 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:251px;
  width:1220px;
  height:95px;
}
#u50872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u50872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50872_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:186px;
  word-wrap:break-word;
}
#u50873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u50873 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50873_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:186px;
  word-wrap:break-word;
}
#u50874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u50874 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50874_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:181px;
  word-wrap:break-word;
}
#u50875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u50875 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50875_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:181px;
  word-wrap:break-word;
}
#u50876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u50876 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:0px;
  width:203px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50876_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:181px;
  word-wrap:break-word;
}
#u50877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u50877 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:0px;
  width:205px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u50877_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:183px;
  word-wrap:break-word;
}
#u50878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u50878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50878_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
#u50880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u50880 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:45px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u50880_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
#u50882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u50882 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:45px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50882_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:181px;
  word-wrap:break-word;
}
#u50883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u50883 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:45px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u50883_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:181px;
  word-wrap:break-word;
}
#u50884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u50884 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:45px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50884_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:181px;
  word-wrap:break-word;
}
#u50885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:51px;
}
#u50885 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:45px;
  width:205px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u50885_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u50887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50888 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50888_img.mouseOver {
}
#u50888.mouseOver {
}
#u50888_img.selected {
}
#u50888.selected {
}
#u50888_img.disabled {
}
#u50888.disabled {
}
#u50888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50889 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50889_img.mouseOver {
}
#u50889.mouseOver {
}
#u50889_img.selected {
}
#u50889.selected {
}
#u50889_img.disabled {
}
#u50889.disabled {
}
#u50889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50890 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50890_img.mouseOver {
}
#u50890.mouseOver {
}
#u50890_img.selected {
}
#u50890.selected {
}
#u50890_img.disabled {
}
#u50890.disabled {
}
#u50890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50891 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50891_img.mouseOver {
}
#u50891.mouseOver {
}
#u50891_img.selected {
}
#u50891.selected {
}
#u50891_img.disabled {
}
#u50891.disabled {
}
#u50891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50892 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1298px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u50892_img.mouseOver {
}
#u50892.mouseOver {
}
#u50892_img.selected {
}
#u50892.selected {
}
#u50892_img.disabled {
}
#u50892.disabled {
}
#u50892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u50893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50893 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50893_img.mouseOver {
}
#u50893.mouseOver {
}
#u50893_img.selected {
}
#u50893.selected {
}
#u50893_img.disabled {
}
#u50893.disabled {
}
#u50893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50894 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50894_img.mouseOver {
}
#u50894.mouseOver {
}
#u50894_img.selected {
}
#u50894.selected {
}
#u50894_img.disabled {
}
#u50894.disabled {
}
#u50894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50895 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:1298px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u50895_img.mouseOver {
}
#u50895.mouseOver {
}
#u50895_img.selected {
}
#u50895.selected {
}
#u50895_img.disabled {
}
#u50895.disabled {
}
#u50895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u50896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u50896 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:1298px;
  width:35px;
  height:35px;
  color:#999999;
}
#u50896_img.mouseOver {
}
#u50896.mouseOver {
}
#u50896_img.selected {
}
#u50896.selected {
}
#u50896_img.disabled {
}
#u50896.disabled {
}
#u50896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u50897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u50897 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:1298px;
  width:80px;
  height:35px;
}
#u50897_img.mouseOver {
}
#u50897.mouseOver {
}
#u50897_img.selected {
}
#u50897.selected {
}
#u50897_img.disabled {
}
#u50897.disabled {
}
#u50897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
.u50899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1220px;
  height:50px;
}
.u50900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
.u50900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u50900_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
.u50902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
.u50902 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.u50902_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
.u50904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
.u50904 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:0px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u50904_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:181px;
  word-wrap:break-word;
}
.u50905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
.u50905 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:0px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u50905_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:181px;
  word-wrap:break-word;
}
.u50906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
.u50906 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:0px;
  width:203px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u50906_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:181px;
  word-wrap:break-word;
}
.u50907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:51px;
}
.u50907 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:0px;
  width:205px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u50907_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u50898-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:49px;
}
#u50898-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1220px;
  height:49px;
}
#u50898-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1220px;
  height:49px;
}
#u50898-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:1220px;
  height:49px;
}
#u50898-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:1220px;
  height:49px;
}
#u50898-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:1220px;
  height:49px;
}
#u50898-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:294px;
  width:1220px;
  height:49px;
}
#u50898-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:1220px;
  height:49px;
}
#u50898-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:1220px;
  height:49px;
}
#u50898-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:441px;
  width:1220px;
  height:49px;
}
#u50898-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:1220px;
  height:49px;
}
#u50898-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:1220px;
  height:49px;
}
#u50898-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:588px;
  width:1220px;
  height:49px;
}
#u50898-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:637px;
  width:1220px;
  height:49px;
}
#u50898-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:686px;
  width:1220px;
  height:49px;
}
#u50898-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:735px;
  width:1220px;
  height:49px;
}
#u50898-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:1220px;
  height:49px;
}
#u50898-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:833px;
  width:1220px;
  height:49px;
}
#u50898-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:882px;
  width:1220px;
  height:49px;
}
#u50898 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:346px;
  width:1220px;
  height:931px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u50908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50909 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u50909_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50909_ann {
  border-width:0px;
  position:absolute;
  left:213px;
  top:96px;
  width:1px;
  height:1px;
}
#u50910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50910 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u50910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u50911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50912 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u50912_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50912_ann {
  border-width:0px;
  position:absolute;
  left:783px;
  top:96px;
  width:1px;
  height:1px;
}
#u50913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50913 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u50913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u50914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u50915 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:100px;
  width:180px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u50915_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u50915_ann {
  border-width:0px;
  position:absolute;
  left:973px;
  top:96px;
  width:1px;
  height:1px;
}
#u50916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u50916 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:100px;
  width:40px;
  height:35px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u50916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
